/* Login/Register widget - start
   ========================================================================== */

/* User not logged in */
.eltdf-login-register-widget {
    
    &.eltdf-user-not-logged-in {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        
        .eltdf-menu-area & {
            height: 100%;
        }
        
        .eltdf-sidebar & {
            width: 100%;
        }
        
        .eltdf-login-opener,
        .eltdf-register-opener {
            position: relative;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            padding: 0 20px;
            min-width: 86px;
            text-align: center;
            line-height: 29px;
            color: #fff;
            background-color: $first-main-color;
            border-radius: 30px;
            z-index: 1;
            @include eltdfTransition(color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out);

            &:hover {
                &:after {
                    @include eltdfTransform(scaleY(1));
                }
            }
            
            &:before {
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-right: 6px;
                font-family: 'Linearicons-Free';
                font-size: 11px;
            }

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                content: " ";
                width: 100%;
                height: 100%;
                background-color: $adittional-green-color;
                border-radius: inherit;
                z-index: -1;
                @include eltdfTransformOrigin(0 100%);
                @include eltdfTransform(scaleY(0));
                @include eltdfTransitionTransform(.25s ease-in-out);
            }
            
            /* Menu area */
            .eltdf-menu-area & {
                position: relative;
                display: inline-block;
                top: 50%;
                margin: 0 10px;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    
        .eltdf-login-opener {
    
            &:before {
                content: "\e82a";
            }
        }
    
        .eltdf-register-opener {
            margin-left: 15px;
            
            &:before {
                content: "\e802";
            }
        }
    }
    
    /* User logged in */
    &.eltdf-user-logged-in {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        
        .eltdf-logged-in-user {
            
            .eltdf-logged-in-user-inner {
                
                & > span {
                    
                    img {
                        display: inline-block;
                        vertical-align: middle;
                        width: 28px;
                        height: 28px;
                        margin: 0 5px 0 0;
                        border-radius: 100%;
                    }
                }
            }
        }
        
        /* Top bar and menu area dropdown position */
        .eltdf-menu-area &,
        .eltdf-top-bar & {
            
            .eltdf-login-dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                width: 185px;
                margin: 0;
                padding: 20px 38px;
                list-style-type: none;
                text-align: left;
                text-transform: none;
                background-color: #fff;
                border-top: 4px solid $first-main-color;
                opacity: 0;
                visibility: hidden;
                z-index: 100;
                box-sizing: border-box;
                @include eltdfTransition(opacity 0.3s ease);
                
                li {
                    padding: 5px 0;
                    margin: 0;
                    
                    a {
                        position: relative;
                        display: block;
                        font-family: $default-heading-font-m;
                        font-size: 12px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #ababab;
                        
                        &:hover {
                            color: $first-main-color;
                        }
                    }
                }
            }
            
            &:hover .eltdf-login-dropdown {
                visibility: visible;
                opacity: 1;
            }
        }
        
        /* Menu area style */
        .eltdf-menu-area &,
        .eltdf-top-bar & {
            cursor: pointer;
            
            /* User part */
            .eltdf-logged-in-user {
                height: 100%;
                display: table;
                vertical-align: middle;
                
                .eltdf-logged-in-user-inner {
                    display: table-cell;
                    vertical-align: middle;
                    height: 100%;
                }
            }
        }
        
        .eltdf-top-bar & {
            
            .eltdf-login-dropdown {
                border-top: 1px solid $default-border-color;
            }
            
            .eltdf-logged-in-user {
                line-height: 44px;
            }
        }
    }
}

/* Login/Register widget - end
   ========================================================================== */