/* ==========================================================================
   Tabs shortcode style - begin
   ========================================================================== */

.eltdf-tabs {
	@include eltdfRelativeHolderLayout();
	
	.eltdf-tabs-nav {
		@include eltdfRelativeHolderLayout();
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			float: left;
			margin: 0;
			padding: 0;
			
			a {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;
				@include eltdfTransition(color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out);
			}
		}
	}
	
	.eltdf-tab-container {
		@include eltdfRelativeHolderLayout();
		visibility: hidden;
		opacity: 0;
		@include eltdfTransform(translateY(5px));
		
		&.eltdf-visible {
			visibility: visible;
			opacity: 1;
			@include eltdfTransform(translateY(0));
			@include eltdfTransition(all .35s cubic-bezier(0.22, 0.61, 0.36, 1));
		}
		
		p {
			margin: 0;
		}
	}
	
	&.eltdf-tabs-standard {
		
		.eltdf-tabs-nav {
			border-bottom: 1px solid $default-border-color;
			
			li {
				margin-right: 35px;
				
				&:last-child {
					margin-right: 0;
				}
				
				a {
					position: relative;
					padding: 13px 10px;
					font-family: $default-heading-font-m;
					font-size: 14px;
					line-height: 30px;
					color: #b9b9b9;
					
					&:after {
						content: '';
						position: absolute;
						bottom: -1px;
						left: 0;
						width: 100%;
						height: 2px;
						background-color: $aditional-blue-color;
						opacity: 0;
						@include eltdfTransition(opacity .2s ease-out);
					}
				}
				
				&.ui-state-active a,
				&.ui-state-hover a {
					color: $default-heading-color;
					
					&:after {
						opacity: 1;
					}
				}
			}
		}
		
		.eltdf-tab-container {
			margin: 19px 0 0;
		}
	}
	
	&.eltdf-tabs-vertical {
		display: table;
		
		.eltdf-tabs-nav {
			display: table-cell;
			vertical-align: top;
			width: 32%;
			height: 100%;
			box-sizing: border-box;
			
			li {
				display: block;
				float: none;
				padding: 0 27px;
				background-color: transparent;
				border-radius: 6px;
				box-shadow: none;
				box-sizing: border-box;
				@include eltdfTransition(background-color .2s ease-out, box-shadow .2s ease-out);
				
				&:first-child {
					
					a {
						border-top: 0;
					}
				}
				
				&.ui-state-active {
					background-color: #fff;
					box-shadow: $box-shadow-variable;
					
					a {
						color: $first-main-color;
						border-color: transparent;
					}
				}
				
				&.ui-state-hover {
					
					a {
						color: $first-main-color;
					}
				}
				
				a {
					display: block;
					padding: 19px 0;
					font-family: $default-heading-font-m;
					font-size: 18px;
					line-height: 36px;
					font-weight: 700;
					color: $default-heading-color;
					border-top: 1px solid $default-border-color;
					@include eltdfTransition(color .2s ease-out, border-color .2s ease-out);
				}
			}
		}
		
		.eltdf-tab-container {
			display: table-cell;
			vertical-align: top;
			width: 68%;
			height: 100%;
			padding: 0 0 0 50px;
			box-sizing: border-box;
		}
	}
}
/* ==========================================================================
   Tabs shortcode style - end
   ========================================================================== */