/* ==========================================================================
   Testimonials elegant style - begin
   ========================================================================== */

.eltdf-testimonials-holder {
    
    &.eltdf-testimonials-elegant {
        opacity: 0;
        text-align: center;
    
        .eltdf-testimonial-text {
            margin-top: 0;
	        font-size: 22px;
            color: #595959;
        }
        
        .eltdf-testimonial-image-nav {
            @include eltdfRelativeHolderLayout();
	        max-width: 470px;
	        margin: 27px auto 0;
	        text-align: center;
	        
	        @include ipad-landscape {
		        max-width: 282px;
	        }
	        
	        @include phone-landscape {
		        max-width: 94px;
	        }
	
	        .owl-item {
		        cursor: pointer;
		        
		        &.active {
			
			        &.center {
				
				        .eltdf-testimonial-image {
					        @include eltdfTransform(scale(1));
				        }
			        }
		        }
	        }
        }
	
	    .eltdf-testimonial-image {
		    position: relative;
		    display: block;
		    width: 94px;
		    height: 94px;
		    @include eltdfTransform(scale(.78723));
		    @include eltdfTransitionTransform(.3s ease-in-out);
		    
		    img {
			    width: 100% !important;
		    }
	    }
	
	    .eltdf-testimonial-author {
		    margin-top: 22px;
	    }
	
	    .eltdf-testimonials-author-job {
		    margin-top: 8px;
	    }
    }
}
/* ==========================================================================
   Testimonials elegant style - end
   ========================================================================== */