@media only screen and (max-width: 1024px){
/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles-responsive.php esmarts_elated_content_responsive_styles function */
.eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner, .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner { padding-top: 80px!important;}

}

@media only screen and (min-width: 769px) and (max-width: 1024px){
}

@media only screen and (min-width: 681px) and (max-width: 768px){
}

@media only screen and (max-width: 680px){
/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles-responsive.php esmarts_elated_h1_responsive_styles2 function */
h1 { font-size: 37px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles-responsive.php esmarts_elated_h2_responsive_styles2 function */
h2 { font-size: 32px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles-responsive.php esmarts_elated_h3_responsive_styles2 function */
h3 { font-size: 27px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles-responsive.php esmarts_elated_h4_responsive_styles2 function */
h4 { font-size: 20px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles-responsive.php esmarts_elated_h5_responsive_styles2 function */
h5 { font-size: 16px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles-responsive.php esmarts_elated_h6_responsive_styles2 function */
h6 { font-size: 13px;}

}