/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles.php esmarts_elated_design_styles function */
body, .eltdf-content, .eltdf-container { background-color: #fafafa;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles.php esmarts_elated_content_styles function */
.eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner { padding-top: 80px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles.php esmarts_elated_content_styles function */
.eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner { padding-top: 80px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/contactform7/custom-styles/contact-form.php esmarts_elated_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #ffffff;padding-bottom: 12px;padding-left: 4px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/contactform7/custom-styles/contact-form.php esmarts_elated_contact_form7_label_styles_1 function */
.cf7_custom_style_1 p { font-family: Montserrat;font-size: 12px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/contactform7/custom-styles/contact-form.php esmarts_elated_contact_form7_text_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz { color: #ffffff;border-color: rgba(255, 255, 255, 1);border-width: 2px;border-top: 2px solid;border-left: 2px solid;border-right: 2px solid;border-radius: 50px;padding-top: 11px;padding-bottom: 11px;padding-left: 20px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/contactform7/custom-styles/contact-form.php esmarts_elated_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz:focus { color: #ffffff;border-color: rgba(255, 255, 255, 1);}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/contactform7/custom-styles/contact-form.php esmarts_elated_contact_form7_button_hover_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #ffffff;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/contactform7/custom-styles/contact-form.php esmarts_elated_contact_form7_text_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz { color: #929292;background-color: rgba(255, 255, 255, 1);border-color: rgba(255, 255, 255, 0);border-radius: 50px;padding-left: 20px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/contactform7/custom-styles/contact-form.php esmarts_elated_contact_form7_focus_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz:focus { color: #808080;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/contactform7/custom-styles/contact-form.php esmarts_elated_contact_form7_text_styles_4 function */
.cf7_custom_style_4 textarea.wpcf7-form-control.wpcf7-textarea { height: 87px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/contactform7/custom-styles/contact-form.php esmarts_elated_contact_form7_text_styles_4 function */
.cf7_custom_style_4 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_4 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_4 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_4 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_4 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_4 input.wpcf7-form-control.wpcf7-quiz { padding-top: 15px;padding-right: 27px;padding-bottom: 10px;padding-left: 0px;margin-top: 0px;margin-bottom: 9px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/error404/custom-styles/custom-styles.php esmarts_elated_404_footer_top_general_styles function */
.eltdf-404-page .eltdf-content { background-image: url(http://foxaiecampaigns.com/edu-theraputics/wp-content/uploads/2017/10/404-background.png);background-position: center 0;background-size: cover;background-repeat: no-repeat;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/error404/custom-styles/custom-styles.php esmarts_elated_404_subtitle_styles function */
.eltdf-404-page .eltdf-page-not-found .eltdf-404-subtitle { letter-spacing: px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/error404/custom-styles/custom-styles.php esmarts_elated_404_text_styles function */
.eltdf-404-page .eltdf-page-not-found .eltdf-404-text { letter-spacing: px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php esmarts_elated_header_top_bar_styles function */
.eltdf-top-bar-background { height: 93px;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/header/admin/custom-styles/header-custom-styles.php esmarts_elated_header_logo_area_styles function */
.eltdf-header-centered .eltdf-logo-area .eltdf-logo-wrapper { padding: ;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/sidearea/admin/custom-styles/sidearea-custom-styles.php esmarts_elated_side_area_styles function */
.eltdf-side-menu { background-image: url(http://foxaiecampaigns.com/edu-theraputics/wp-content/uploads/2017/10/sidearea-background.png);}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/title/types/breadcrumbs/admin/custom-styles/breadcrumbs-title-custom-styles.php esmarts_elated_breadcrumbs_title_area_typography_style function */
.eltdf-title-holder .eltdf-title-wrapper .eltdf-breadcrumbs { color: #ffffff;font-family: Montserrat;font-size: 14px;line-height: 25px;font-style: normal;font-weight: 400;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/title/types/breadcrumbs/admin/custom-styles/breadcrumbs-title-custom-styles.php esmarts_elated_breadcrumbs_title_area_typography_style function */
.eltdf-title-holder .eltdf-title-wrapper .eltdf-breadcrumbs a:hover { color: #ffffff;}

/* generated in /home/szdbjvmy/public_html/edu-thera/wp-content/themes/esmarts/framework/modules/title/admin/custom-styles/title-custom-styles.php esmarts_elated_title_area_typography_style function */
.eltdf-title-holder .eltdf-title-wrapper .eltdf-page-title { color: #ffffff;}

