/* ==========================================================================
   Global partials
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   Custom Post Types responsive styles
   ========================================================================== */
/* ==========================================================================
   Masonry Gallery shortcodes responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-grid-sizer,
  .eltdf-masonry-gallery-holder .eltdf-mg-item {
    width: 50%;
  }
  .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-square-big, .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-rectangle-landscape {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-grid-sizer,
  .eltdf-masonry-gallery-holder .eltdf-mg-item {
    width: 100%;
  }
}

/* ==========================================================================
   Masonry Gallery shortcodes responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/eltdf-core/assets/css/custom-post-types-map-responsive.css.map */
