/* ==========================================================================
   Events styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
.eltdf-events-list {
  text-align: left;
}

.eltdf-events-list-item {
  margin-bottom: 50px;
}

.eltdf-events-list-item-image-holder {
  position: relative;
  margin-bottom: 26px;
}

.eltdf-events-list-item-image-holder img {
  display: block;
  border-radius: 6px;
}

.eltdf-events-list-item-image-holder a {
  display: block;
}

.eltdf-events-list-item-image-holder a:hover .eltdf-events-list-item-date-holder {
  -webkit-transform: translate3d(0, -31px, 0);
  -moz-transform: translate3d(0, -31px, 0);
  transform: translate3d(0, -31px, 0);
}

.eltdf-events-list-item-image-holder a:hover:after {
  opacity: 1;
}

.eltdf-events-list-item-image-holder a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.eltdf-events-list-item-date-holder {
  position: absolute;
  bottom: -13px;
  left: 21px;
  width: 75px;
  height: 88px;
  text-align: center;
  color: #42495b;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  z-index: 5;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37);
  -moz-transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37);
  transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37);
}

.eltdf-events-list-item-date-holder .eltdf-events-list-item-date-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.eltdf-events-list-item-date-holder .eltdf-events-list-item-date-day {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
}

.eltdf-events-list-item-date-holder .eltdf-events-list-item-date-month {
  display: block;
  margin-top: 7px;
  font-size: 18px;
  line-height: 1;
}

.eltdf-events-list-item-title-holder {
  position: relative;
  padding-right: 70px;
}

.eltdf-events-list-item-title-holder .eltdf-events-list-item-title {
  margin: 0;
}

.eltdf-events-list-item-title-holder .eltdf-events-list-item-price {
  position: absolute;
  top: calc(50% - 9px);
  right: 0;
  padding: 1px 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  background-color: #ff9900;
  border-radius: 4px;
  box-sizing: border-box;
}

.eltdf-events-list-item-title-holder .eltdf-events-list-item-price.eltdf-free {
  background-color: #04d2c8;
}

@media only screen and (max-width: 680px) {
  .eltdf-events-list-item-title-holder {
    padding-right: 0;
  }
  .eltdf-events-list-item-title-holder .eltdf-events-list-item-price {
    position: relative;
    top: auto;
    margin-top: 14px;
  }
}

.eltdf-events-list-item-info {
  margin-top: 16px;
  padding-top: 17px;
  border-top: 1px solid #ebebeb;
}

.eltdf-events-list-item-info span {
  display: inline-block;
  vertical-align: top;
}

.eltdf-events-list-item-info .eltdf-events-item-info-icon {
  position: relative;
  top: 1px;
  width: 22px;
  font-size: 15px;
}

.eltdf-events-list-item-info .eltdf-events-item-info-icon * {
  display: block;
  line-height: inherit;
}

.eltdf-events-list-item-info .eltdf-events-list-item-location-holdere {
  margin-top: 1px;
}

.eltdf-events-list.eltdf-el-simple .eltdf-events-list-item-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-events-list.eltdf-el-simple .eltdf-events-list-item-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0 0 0 110px;
  box-sizing: border-box;
}

.eltdf-events-list.eltdf-el-simple .eltdf-events-list-item-date-holder {
  top: 0;
  left: 0;
  bottom: auto;
}

#tribe-events-content-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 70px;
  /* #Content styles - start
	   ========================================================================== */
  /* #Content styles - end
	   ========================================================================== */
}

#tribe-events-content-wrapper #tribe-bar-form {
  background: none;
  /* #Events filter styles - start
	   ========================================================================== */
  /* #Filter styles - end
		   ========================================================================== */
  /* #View as styles - start
	   ========================================================================== */
  /* #View as styles - end
	   ========================================================================== */
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  float: none;
  margin: 10px 0 30px;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0;
  box-sizing: border-box;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter {
  width: calc((100% - 200px) / 2);
  padding-right: 30px;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter {
  width: calc((100% - 200px) / 2);
  padding-right: 30px;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
  margin: 0;
  z-index: 2;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters label {
  display: block;
  margin: 0 0 21px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: #42495b;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text] {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 46px;
  margin-bottom: 20px;
  padding: 12px 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #969696;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  outline: none;
  resize: none;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]::-webkit-input-placeholder {
  color: inherit;
  font-style: normal;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]:-moz-placeholder {
  color: inherit;
  font-style: normal;
  opacity: 1;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]::-moz-placeholder {
  color: inherit;
  font-style: normal;
  opacity: 1;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]:-ms-input-placeholder {
  color: inherit;
  font-style: normal;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]:focus {
  border-color: #04d2c8;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-submit .tribe-events-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 47px;
  padding: 13px 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #04d2c8;
  border: 0;
  border-radius: 30px;
  outline: none;
  resize: none;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-submit .tribe-events-button:hover {
  color: #fff;
  background-color: #22e2d9;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views {
  position: relative;
  display: inline-block;
  width: 100% !important;
  vertical-align: middle;
  float: none;
  left: 0;
  padding: 0 0 16px;
  margin: 0 0 37px;
  border-bottom: 1px dashed #ebebeb;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner {
  padding: 0;
  background: none;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner > label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 16px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: #42495b;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner > label:after {
  content: ':';
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-select {
  display: none;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a {
  color: #4582ff;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option:last-child a {
  margin: 0;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  padding: 0;
  margin: 0 20px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #808080;
  background: none;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
  color: #4582ff;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a span {
  min-height: inherit;
  padding: 0;
  background: none;
}

#tribe-events-content-wrapper #tribe-events-content {
  position: relative;
  padding: 0;
  margin: 0;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-page-title {
  margin: 0 0 44px;
  padding: 0 150px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #42495b;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-previous a,
#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-next a {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #808080;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-previous a:hover,
#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-next a:hover {
  color: #4582ff;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-previous span,
#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-next span {
  display: none;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-nav-previous a:before,
#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-nav-next a:after, #tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-nav-previous a:before,
#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-nav-next a:after, #tribe-events-content-wrapper #tribe-events-content.tribe-events-day .tribe-events-nav-previous a:before,
#tribe-events-content-wrapper #tribe-events-content.tribe-events-day .tribe-events-nav-next a:after {
  position: relative;
  top: 4px;
  font-family: 'ElegantIcons';
  font-size: 22px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-nav-next a:after, #tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-nav-next a:after, #tribe-events-content-wrapper #tribe-events-content.tribe-events-day .tribe-events-nav-next a:after {
  content: '\35';
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-nav-previous a:before, #tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-nav-previous a:before, #tribe-events-content-wrapper #tribe-events-content.tribe-events-day .tribe-events-nav-previous a:before {
  content: '\34';
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-sub-nav .tribe-events-nav-previous,
#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-sub-nav .tribe-events-nav-next {
  position: absolute;
  top: 4px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-sub-nav .tribe-events-nav-previous {
  left: 0;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-sub-nav .tribe-events-nav-next {
  right: 0;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar {
  margin: 20px 0 10px;
  border: 0;
  border-radius: 6px;
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.05);
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar thead tr {
  border: 0;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar thead th {
  padding: 25px 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #808080;
  background: #fff;
  border: 0;
  border-right: 1px solid #ebebeb;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar thead th:last-child {
  border-right: 0;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody tr {
  border: 0;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td {
  height: 166px;
  text-align: initial;
  background: #fff;
  border: 0;
  border-right: 1px solid #ebebeb;
  box-shadow: none;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td:last-child {
  border-right: 0;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td.tribe-events-has-events div[id*=tribe-events-daynum-] {
  color: #fff;
  background-color: #04d2c8;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td.tribe-events-present div[id*=tribe-events-daynum-] {
  color: #fff;
  background-color: #4582ff;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td div[id*=tribe-events-daynum-] {
  padding: 5px 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #42495b;
  background-color: #f8f8f8;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td div[id*=tribe-events-daynum-] a {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td div[id*=tribe-events-daynum-] a:hover {
  color: #04d2c8;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td .tribe-events-month-event-title {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: inherit;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td .tribe-events-month-event-title a {
  font-size: inherit;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe_events:hover .tribe-events-tooltip {
  opacity: 1 !important;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip {
  display: block !important;
  bottom: 100% !important;
  width: 290px;
  padding: 20px 20px 30px;
  text-align: left;
  background-color: #fff;
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  opacity: 0 !important;
  visibility: hidden;
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37), opacity 0.3s ease, visibility 0.3s;
  -moz-transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37), opacity 0.3s ease, visibility 0.3s;
  transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37), opacity 0.3s ease, visibility 0.3s;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-events-arrow {
  width: 0;
  height: 0;
  bottom: -15px;
  background: none;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-events-arrow:after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .entry-title {
  margin: 0 0 5px;
  color: #42495b;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-event-duration {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #ababab;
  margin: 0 0 25px;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-events-event-thumb {
  float: none;
  padding: 0;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-events-event-thumb img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: inherit;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-event-description p {
  margin: 13px 0 0;
  max-height: 66px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  overflow: hidden;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-viewmore {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-list-separator-month {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-list-separator-month span {
  color: #42495b;
  background-color: #fafafa;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-list-separator-month:after {
  border-bottom: 1px dashed #ebebeb;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-loop {
  max-width: inherit;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .type-tribe_events {
  padding: 80px 0 0;
  margin: 54px 0 0;
  border-top: 1px solid #ebebeb;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .type-tribe_events.tribe-events-first {
  padding: 12px 0 0;
  border: 0;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-list-item-image-holder img {
  width: 100%;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-list-item-title {
  font-size: 32px;
  margin-bottom: 30px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-single-meta-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 19px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-single-meta-item > * {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-single-meta-item a {
  color: #4582ff;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-single-meta-item a:hover {
  color: #42495b;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-single-meta-icon {
  margin-right: 5px;
  font-size: 15px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-single-meta-icon * {
  display: block;
  line-height: inherit;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-list-item-excerpt {
  margin: 29px 0 0;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .eltdf-events-list-item-excerpt p {
  margin: 0;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-mounth .tribe-events-calendar td .type-tribe_events {
  display: block;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-mounth .tribe-events-calendar td .type-tribe_events:after {
  display: none;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: auto;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  color: #4582ff;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-button:hover {
  color: #42495b;
  background-color: transparent;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav li a {
  background: none;
  padding: 0;
}

#tribe-events-content-wrapper #tribe-events-header {
  margin-bottom: 0;
}

#tribe-events-content-wrapper #tribe-events-footer {
  margin: 53px 0 18px;
  padding-top: 40px;
}

#tribe-events-content-wrapper #tribe-events-footer:before, #tribe-events-content-wrapper #tribe-events-footer:after,
#tribe-events-content-wrapper #tribe-events-header:before,
#tribe-events-content-wrapper #tribe-events-header:after {
  background-color: transparent;
}

#tribe-events-content-wrapper #tribe-bar-collapse-toggle {
  padding: 12px 25px;
  margin-bottom: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: inherit;
  color: #808080;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 30px;
}

#tribe-events-content-wrapper #tribe-bar-collapse-toggle span.tribe-bar-toggle-arrow {
  right: 15px;
  top: 10px;
}

#tribe-events-content-wrapper .tribe-events-notices {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

#tribe-events-content-wrapper .tribe-events-day .tribe-events-day-time-slot h5 {
  padding: 0;
  color: #42495b;
  background: none;
}

.eltdf-tribe-events-single .eltdf-events-single-main-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  min-height: 88px;
  margin: 48px 0 44px;
}

.eltdf-tribe-events-single .eltdf-events-single-date-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 88px;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.eltdf-tribe-events-single .eltdf-events-single-date-holder .eltdf-events-single-date-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.eltdf-tribe-events-single .eltdf-events-single-date-holder .eltdf-events-single-date-day {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  color: #42495b;
}

.eltdf-tribe-events-single .eltdf-events-single-date-holder .eltdf-events-single-date-month {
  display: block;
  margin-top: 7px;
  font-size: 18px;
  line-height: 1;
  color: #42495b;
}

.eltdf-tribe-events-single .eltdf-events-single-title-holder {
  position: relative;
  padding: 0 70px 0 100px;
}

.eltdf-tribe-events-single .eltdf-events-single-title-holder h3.eltdf-events-single-title {
  margin: 0;
}

.eltdf-tribe-events-single .eltdf-events-single-title-holder .eltdf-events-single-date {
  margin: 9px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.eltdf-tribe-events-single .eltdf-events-single-title-holder .eltdf-events-single-date > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.eltdf-tribe-events-single .eltdf-events-single-title-holder span.eltdf-events-single-info-icon {
  position: relative;
  top: 1px;
  margin-right: 7px;
  font-size: 15px;
}

.eltdf-tribe-events-single .eltdf-events-single-title-holder span.eltdf-events-single-info-icon * {
  display: block;
  line-height: inherit;
}

.eltdf-tribe-events-single .eltdf-events-single-title-holder .eltdf-events-single-cost {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff9900;
  border-radius: 4px;
  box-sizing: border-box;
}

.eltdf-tribe-events-single .eltdf-events-single-title-holder .eltdf-events-single-cost.eltdf-free {
  background-color: #04d2c8;
}

.eltdf-tribe-events-single .eltdf-events-single-main-content .tribe-events-cal-links {
  margin-top: 15px;
  margin-bottom: 0;
}

.eltdf-tribe-events-single .eltdf-events-single-main-content .tribe-events-cal-links .tribe-events-button {
  position: relative;
  overflow: hidden;
  margin-right: 20px !important;
  padding: 17px 40px !important;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .05em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff !important;
  background-color: #04d2c8 !important;
  border: 0 !important;
  border-radius: 30px !important;
  box-sizing: border-box;
  z-index: 2;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.eltdf-tribe-events-single .eltdf-events-single-main-content .tribe-events-cal-links .tribe-events-button:after {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 0;
  background-color: #22e2d9;
  border-radius: inherit;
  z-index: -1;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.eltdf-tribe-events-single .eltdf-events-single-main-content .tribe-events-cal-links .tribe-events-button:hover {
  color: #fff !important;
  background-color: #04d2c8 !important;
}

.eltdf-tribe-events-single .eltdf-events-single-main-content .tribe-events-cal-links .tribe-events-button:hover:after {
  height: 100%;
}

.eltdf-tribe-events-single .eltdf-events-single-main-content .tribe-events-event-image {
  margin-bottom: 30px;
}

.eltdf-tribe-events-single .eltdf-events-single-main-content .tribe-events-venue-map {
  width: 100%;
  float: none;
  margin: 0;
  border: none;
  padding: 0;
  border-radius: 0;
}

.eltdf-tribe-events-single .eltdf-events-single-main-content .tribe-events-venue-map > div {
  height: 0 !important;
  padding-bottom: 61%;
}

@media only screen and (max-width: 1024px) {
  .eltdf-tribe-events-single .eltdf-events-single-main-content .tribe-events-venue-map {
    margin-bottom: 30px;
  }
}

.eltdf-tribe-events-single .eltdf-events-single-meta {
  margin-top: 50px;
}

.eltdf-tribe-events-single .eltdf-events-single-meta h3 {
  margin-bottom: 29px;
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-grid-col-4 {
    width: 50%;
  }
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-meta-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 19px;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-meta-item > * {
  display: inline-block;
  vertical-align: top;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-meta-item span.eltdf-events-single-meta-icon {
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-size: 15px;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-meta-item span.eltdf-events-single-meta-icon * {
  display: block;
  line-height: inherit;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-meta-item a {
  color: #4582ff;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-meta-item a:hover {
  color: #42495b;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder {
  margin: 67px 0 81px;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-nav-image img {
  display: block;
  width: 99px;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-prev-event,
.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-next-event {
  display: table;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-prev-event .eltdf-events-nav-image,
.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-prev-event .eltdf-events-nav-text,
.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-next-event .eltdf-events-nav-image,
.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-next-event .eltdf-events-nav-text {
  display: table-cell;
  vertical-align: middle;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-prev-event .eltdf-events-nav-text,
.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-next-event .eltdf-events-nav-text {
  padding: 0 25px;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-prev-event .eltdf-events-nav-text .eltdf-events-nav-label,
.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-next-event .eltdf-events-nav-text .eltdf-events-nav-label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #42495b;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-prev-event .eltdf-events-nav-text a,
.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-next-event .eltdf-events-nav-text a {
  color: #808080;
  font-size: 18px;
  line-height: 23px;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-prev-event .eltdf-events-nav-text a:hover,
.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-next-event .eltdf-events-nav-text a:hover {
  color: #42495b;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-prev-event {
  float: left;
}

.eltdf-tribe-events-single .eltdf-events-single-meta .eltdf-events-single-navigation-holder .eltdf-events-single-next-event {
  float: right;
  text-align: right;
}

/* ==========================================================================
   Events styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/events-list-map.css.map */
