/* ==========================================================================
   Masonry Gallery shortcodes style - begin
   ========================================================================== */

.eltdf-masonry-gallery-holder {
	@include eltdfRelativeHolderLayout();
	
	.eltdf-mg-inner {
		opacity: 0;
	}
	
	.eltdf-mg-grid-gutter {
		width: 0;
	}
	
	.eltdf-mg-grid-sizer {
		width: 25%;
	}

	.eltdf-mg-item {
		position: relative;
		width: 25%;
		z-index: 1;
		box-sizing: border-box;
		
		&.eltdf-mg-square-big {
			width: 50%;
		}

		&.eltdf-mg-rectangle-landscape {
			width: 50%;

			.eltdf-mg-image {
				
				img {
					max-height: inherit;
				}
			}
		}

		&.eltdf-mg-rectangle-portrait {
			
			.eltdf-mg-image {
				
				img {
					max-width: inherit;
					width: auto;
					height: 100%;
				}
			}
		}
		
		&.eltdf-mg-no-info {

			.touch & {
				cursor: pointer;
			}
		}

		&:not(.eltdf-mg-no-info) {
			.eltdf-mg-item-content {
				@include eltdfTransform(translate3d(0,0,0));
				@include eltdfTransition(transform .3s cubic-bezier(.21,.6,.44,2.18));
			}

			&:hover {
				.eltdf-mg-item-content {
					@include eltdfTransform(translate3d(0,-10px,0));
				}
			}
		}
		
		&.eltdf-mg-standard {
			
			.eltdf-mg-item-content {
				padding: 50px;
				vertical-align: bottom;
				
				@include laptop-landscape-medium {
					padding: 40px;
				}
				
				@include ipad-landscape {
					padding: 30px;
				}
				
				@include phone-landscape {
					padding: 10px 20px 20px;
				}
			}
			
			.eltdf-mg-item-button {
				margin-top: 40px;
				
				@include laptop-landscape-medium {
					margin-top: 32px;
				}
				
				@include ipad-landscape {
					margin-top: 22px;
				}
			}
		}
		
		&.eltdf-mg-simple {
			
			.eltdf-mg-item-content {
				padding: 20px 37px;

				@include laptop-landscape-medium {
					padding: 15px 35px;
				}
				
				@include ipad-landscape {
					padding: 15px 30px;
				}
			}
		}
		
		&.eltdf-mg-skin-light {
			
			.eltdf-mg-item-title {
				color: #fff;
			}
			
			.eltdf-mg-item-text {
				color: #fff;
			}
			
			&.eltdf-mg-simple {

				.eltdf-mg-item-button {
					color: #fff !important;

					&:hover {
						color: rgba(#fff, .8) !important;
					}
				}
			}
		}
		
		.eltdf-mg-content {
			@include eltdfRelativeHolderLayout();
			height: 100%;
			box-sizing: border-box;
			overflow: hidden;
		}
		
		.eltdf-mg-item-outer {
			@include eltdfAbsoluteHolderLayout();
			box-sizing: border-box;
		}
		
		.eltdf-mg-item-inner {
			@include eltdfTableLayout();
		}
		
		.eltdf-mg-item-content {
			@include eltdfTableCellLayout();
		}

		.eltdf-mg-image {
			position: relative;
			height: 100%;
			width: 100%;
			overflow: hidden;
			@include eltdfTransform(scale(1) translateZ(0px));
			@include eltdfTransition(transform .3s cubic-bezier(0.34, 0.52, 0.57, 1.04));
		}

		&:hover {
			.eltdf-mg-image {
				@include eltdfTransform(scale(1.1));
			}
		}
		
		.eltdf-mg-image-overlay {
			position: absolute;
			top: -4px;
			left: -4px;
			height: calc(100% + 8px);
			width: calc(100% + 8px);
			background-size: cover;
			background-position: center;
			z-index: -1;
		}
		
		.eltdf-mg-item-icon {
			margin: 0 0 7px;
		}
		
		.eltdf-mg-item-title {
			margin: 0;
		}
		
		.eltdf-mg-item-text {
			margin: 19px 0 0;
			
			@include ipad-landscape {
				margin-top: 14px;
			}
		}
		
		.eltdf-mg-item-button {
			margin: 12px 0 0;
			z-index: 1;
		}
		
		.eltdf-mg-item-link {
			@include eltdfAbsoluteHolderLayout();
		}
	}
}
/* ==========================================================================
   Masonry Gallery shortcodes style - end
   ========================================================================== */