/* generated in /home/developer/public_html/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles.php esmarts_elated_text_styles function */
p { color: #2c2d24;}

/* generated in /home/developer/public_html/wp-content/themes/esmarts/assets/custom-styles/general-custom-styles.php esmarts_elated_link_styles function */
a, p a { color: #2c2d24;}

/* generated in /home/developer/public_html/wp-content/themes/esmarts/framework/modules/error404/custom-styles/custom-styles.php esmarts_elated_404_subtitle_styles function */
.eltdf-404-page .eltdf-page-not-found .eltdf-404-subtitle { letter-spacing: px;}

/* generated in /home/developer/public_html/wp-content/themes/esmarts/framework/modules/error404/custom-styles/custom-styles.php esmarts_elated_404_text_styles function */
.eltdf-404-page .eltdf-page-not-found .eltdf-404-text { letter-spacing: px;}

/* generated in /home/developer/public_html/wp-content/themes/esmarts/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php esmarts_elated_header_top_bar_styles function */
.eltdf-top-bar-background { height: 93px;}

/* generated in /home/developer/public_html/wp-content/themes/esmarts/framework/modules/header/admin/custom-styles/header-custom-styles.php esmarts_elated_header_logo_area_styles function */
.eltdf-header-centered .eltdf-logo-area .eltdf-logo-wrapper { padding: ;}

/* generated in /home/developer/public_html/wp-content/themes/esmarts/framework/modules/title/admin/custom-styles/title-custom-styles.php esmarts_elated_title_area_typography_style function */
.eltdf-title-holder .eltdf-title-wrapper .eltdf-page-title { color: #ffffff;}

