/* ==========================================================================
   Global partials
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   Shortcodes styles
   ========================================================================== */
/* ==========================================================================
   Elated Membership Plugin Style - begin
   ========================================================================== */
.eltdf-modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1002;
}

.eltdf-modal-holder .eltdf-modal-content {
  position: absolute;
  top: calc(50% + 20px);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 404px;
  color: #fff;
  background-color: #4582ff;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-transform: translateY(-50%) translateZ(0);
  -moz-transform: translateY(-50%) translateZ(0);
  transform: translateY(-50%) translateZ(0);
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner {
  padding: 49px 30px 20px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner.eltdf-register-content-inner {
  margin-top: 1px;
}

@media only screen and (max-width: 1280px) {
  .eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner {
    padding: 39px 25px 20px;
  }
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-modal-content-inner h3 {
  margin: 8px 0 13px;
  color: #fff;
  text-align: center;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-wp-login-icon {
  position: absolute;
  top: -42px;
  left: calc(50% - 42px);
  width: 84px;
  height: 84px;
  font-size: 30px;
  line-height: 84px;
  text-align: center;
  color: #fff;
  background-color: #04d2c8;
  border-radius: 100%;
}

@media only screen and (max-width: 1280px) {
  .eltdf-modal-holder .eltdf-modal-content .eltdf-wp-login-icon {
    top: -37px;
    left: calc(50% - 37px);
    width: 74px;
    height: 74px;
    font-size: 28px;
    line-height: 74px;
  }
}

.eltdf-modal-holder .eltdf-modal-content fieldset > div {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-modal-holder .eltdf-modal-content fieldset > div:not(.eltdf-register-button-holder):not(.eltdf-lost-pass-remember-holder):not(.eltdf-login-button-holder):not(.eltdf-register-link-holder) {
  margin-bottom: 12px;
  border-bottom: 1px solid #fff;
}

.eltdf-modal-holder .eltdf-modal-content input[type="checkbox"],
.eltdf-modal-holder .eltdf-modal-content .eltdf-checbox-label,
.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder a {
  vertical-align: middle;
}

.eltdf-modal-holder .eltdf-modal-content label {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"],
.eltdf-modal-holder .eltdf-modal-content input[type="email"],
.eltdf-modal-holder .eltdf-modal-content input[type="password"] {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 11px 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: inherit;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"]::-webkit-input-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="email"]::-webkit-input-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="password"]::-webkit-input-placeholder {
  color: inherit;
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"]:-moz-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="email"]:-moz-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="password"]:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"]::-moz-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="email"]::-moz-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="password"]::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.eltdf-modal-holder .eltdf-modal-content input[type="text"]:-ms-input-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="email"]:-ms-input-placeholder,
.eltdf-modal-holder .eltdf-modal-content input[type="password"]:-ms-input-placeholder {
  color: inherit;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-remember-holder,
.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder {
  display: inline-block;
  width: 50%;
  margin-top: 2px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder {
  float: right;
  text-align: right;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-lost-pass-holder a:hover {
  text-decoration: none;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-register-link-holder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-register-link-holder a {
  color: #fff;
  text-decoration: underline;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-register-link-holder a:hover {
  text-decoration: none;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-button-holder button,
.eltdf-modal-holder .eltdf-modal-content .eltdf-register-button-holder button,
.eltdf-modal-holder .eltdf-modal-content .eltdf-reset-password-button-holder button,
.eltdf-modal-holder .eltdf-modal-content .eltdf-register-notice button {
  margin: 25px 0 14px;
  font-size: 14px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-button-holder button {
  color: #04d2c8;
  background-color: #fff;
  border: none;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-button-holder button .eltdf-btn-hover-item {
  background-color: #f6f6f6 !important;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-button-holder button:hover {
  color: #04d2c8 !important;
  background-color: #fff !important;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title {
  text-align: center;
  margin: 15px 0;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  position: relative;
  line-height: 1em;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span:before, .eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span:after {
  content: "";
  position: absolute;
  height: 1px;
  background: #eaeaea;
  top: 8px;
  width: 90px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span:before {
  right: 100%;
  margin-right: 25px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-title span:after {
  left: 100%;
  margin-left: 25px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks {
  text-align: center;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks .eltdf-facebook-login-holder,
.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks .eltdf-google-login-holder {
  display: inline-block;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks button {
  width: 40px;
  height: 40px;
  line-height: 34px;
  padding: 0;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks button > i {
  margin: 0;
  font-size: 18px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-networks button .eltdf-btn-text {
  display: none;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-login-social-info {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 13px 0 10px;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-register-notice p {
  color: #fff;
  text-align: center;
}

.eltdf-modal-holder .eltdf-modal-content .eltdf-membership-response-holder .eltdf-membership-response.eltdf-membership-message-succes {
  color: #fff;
}

.eltdf-membership-main-wrapper input[type="text"],
.eltdf-membership-main-wrapper input[type="email"],
.eltdf-membership-main-wrapper input[type="password"] {
  position: relative;
  width: 100%;
  margin: 0 0 12px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: inherit;
  color: #808080;
  background-color: transparent;
  border: 1px solid #ebebeb;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.eltdf-membership-main-wrapper input[type="text"]:focus,
.eltdf-membership-main-wrapper input[type="email"]:focus,
.eltdf-membership-main-wrapper input[type="password"]:focus {
  border-color: #42495b;
}

.eltdf-membership-main-wrapper input[type="text"]::-webkit-input-placeholder,
.eltdf-membership-main-wrapper input[type="email"]::-webkit-input-placeholder,
.eltdf-membership-main-wrapper input[type="password"]::-webkit-input-placeholder {
  color: #808080;
}

.eltdf-membership-main-wrapper input[type="text"]:-moz-placeholder,
.eltdf-membership-main-wrapper input[type="email"]:-moz-placeholder,
.eltdf-membership-main-wrapper input[type="password"]:-moz-placeholder {
  color: #808080;
  opacity: 1;
}

.eltdf-membership-main-wrapper input[type="text"]::-moz-placeholder,
.eltdf-membership-main-wrapper input[type="email"]::-moz-placeholder,
.eltdf-membership-main-wrapper input[type="password"]::-moz-placeholder {
  color: #808080;
  opacity: 1;
}

.eltdf-membership-main-wrapper input[type="text"]:-ms-input-placeholder,
.eltdf-membership-main-wrapper input[type="email"]:-ms-input-placeholder,
.eltdf-membership-main-wrapper input[type="password"]:-ms-input-placeholder {
  color: #808080;
}

.eltdf-membership-response-holder .eltdf-membership-response {
  display: block;
  text-align: center;
  margin: 14px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.eltdf-membership-response-holder .eltdf-membership-response.eltdf-membership-message-succes {
  color: #808080;
}

.eltdf-membership-response-holder .eltdf-membership-response.eltdf-membership-message-error {
  color: #ff3d27;
}

/* ==========================================================================
   Elated Membership Plugin Style - end
   ========================================================================== */
/* Dashboard page - start
   ========================================================================== */
.eltdf-membership-main-wrapper {
  margin-bottom: 100px;
  display: table;
  width: 100%;
}

.eltdf-membership-dashboard-nav-holder,
.eltdf-membership-dashboard-content-holder {
  position: relative;
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}

.eltdf-membership-dashboard-nav-holder {
  width: 18%;
  padding: 0 15px 0 0;
  margin: 0 0 75px;
}

.eltdf-membership-dashboard-nav-holder ul {
  padding: 0 15px 0 0;
  margin: 0;
  list-style: none;
}

.eltdf-membership-dashboard-nav-holder ul li {
  margin: 0;
  padding: 0;
}

.eltdf-membership-dashboard-nav-holder ul li:not(:last-child) {
  margin: 0 0 18px;
}

.eltdf-membership-dashboard-nav-holder ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.eltdf-membership-dashboard-nav-holder ul li a * {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
}

.eltdf-membership-dashboard-nav-holder ul li a *:before {
  display: block;
  line-height: inherit;
}

.eltdf-membership-dashboard-nav-holder ul li a .eltdf-dash-icon {
  font-size: 15px;
  margin-right: 4px;
}

.eltdf-membership-dashboard-content-holder {
  width: 82%;
  padding: 0 0 0 45px;
  margin: 0 0 60px;
  border-left: 1px solid #ebebeb;
}

.eltdf-membership-dashboard-content-holder .eltdf-profile-image {
  position: relative;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
}

.eltdf-membership-dashboard-content-holder .eltdf-profile-image img {
  display: block;
  position: relative;
}

.eltdf-membership-dashboard-content-holder .eltdf-membership-dashboard-page-title {
  margin: 0 0 23px;
}

.eltdf-membership-dashboard-content-holder .eltdf-membership-dashboard-page-content p {
  margin: 20px 0;
}

.eltdf-membership-dashboard-content-holder .eltdf-membership-dashboard-page-content p span {
  color: #42495b;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

/* Dashboard page - end
   ========================================================================== */
.eltdf-login-register-content .eltdf-social-login-holder-outer {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.eltdf-login-register-content .eltdf-social-login-holder-inner,
.eltdf-login-register-content .eltdf-login-form-social-login {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50%;
}

.eltdf-login-register-content .eltdf-lost-pass-remember-holder .eltdf-remember-holder,
.eltdf-login-register-content .eltdf-lost-pass-remember-holder .eltdf-lost-pass-holder {
  width: 50%;
  display: inline-block;
}

.eltdf-login-register-content .eltdf-lost-pass-remember-holder .eltdf-lost-pass-holder {
  float: right;
  text-align: right;
}

.eltdf-login-register-content .eltdf-lost-pass-remember-holder .eltdf-lost-pass-holder a {
  font-size: 12px;
  color: #04d2c8;
  font-weight: 600;
}

.eltdf-login-register-content .eltdf-register-link-holder {
  font-size: 12px;
  font-weight: 600;
  color: #353535;
}

.eltdf-login-register-content .eltdf-register-link-holder .eltdf-modal-opener {
  color: #04d2c8;
}

.eltdf-login-register-content .eltdf-social-login-holder-inner {
  padding-right: 15%;
  border-right: 1px solid #dadada;
}

.eltdf-login-register-content .eltdf-login-form label {
  font-size: 12px;
  font-weight: 600;
  color: #353535;
}

.eltdf-login-register-content .eltdf-login-form input[type=text],
.eltdf-login-register-content .eltdf-login-form input[type=password] {
  background-color: #f8f7f7;
}

.eltdf-login-register-content .eltdf-login-form input[type=text]:focus,
.eltdf-login-register-content .eltdf-login-form input[type=password]:focus {
  border-color: #ebebeb;
}

.eltdf-login-register-content .eltdf-login-form .eltdf-login-button-holder button {
  margin-top: 22px;
}

.eltdf-login-register-content .eltdf-login-form-social-login {
  padding: 0 7%;
}

.eltdf-login-register-content .eltdf-login-form-social-login .eltdf-facebook-login-holder,
.eltdf-login-register-content .eltdf-login-form-social-login .eltdf-google-login-holder {
  width: 47%;
  display: inline-block;
}

.eltdf-login-register-content .eltdf-login-form-social-login .eltdf-facebook-login-holder button,
.eltdf-login-register-content .eltdf-login-form-social-login .eltdf-google-login-holder button {
  padding: 12px 24px;
}

.eltdf-login-register-content .eltdf-login-form-social-login .eltdf-facebook-login-holder {
  margin-right: 6%;
  float: left;
}

.eltdf-login-register-content .eltdf-login-social-title {
  text-align: center;
  margin-bottom: 26px;
}

.eltdf-login-register-content .eltdf-login-social-title span {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #42495b;
  display: inline-block;
  position: relative;
}

.eltdf-login-register-content .eltdf-login-social-title span:before, .eltdf-login-register-content .eltdf-login-social-title span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid #eaeaea;
  top: 13px;
  width: 80px;
}

.eltdf-login-register-content .eltdf-login-social-title span:before {
  right: 100%;
  margin-right: 15px;
}

.eltdf-login-register-content .eltdf-login-social-title span:after {
  left: 100%;
  margin-left: 15px;
}

.eltdf-login-register-content .eltdf-login-social-info {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #42495b;
}

.eltdf-login-register-content .eltdf-membership-response-holder {
  text-align: center;
}

.eltdf-login-register-content .eltdf-membership-response-holder p {
  padding: 15px 0;
  font-size: 22px;
}

/* Login/Register/Password form - start
   ========================================================================== */
.eltdf-wp-reset-pass-holder .eltdf-btn {
  margin: 10px 0 0;
  width: 100%;
}

.eltdf-wp-reset-pass-holder .eltdf-btn.eltdf-facebook-login {
  margin-bottom: 0;
}

.eltdf-wp-login-holder .eltdf-btn {
  margin: 17px 0 15px;
  width: 100%;
}

.eltdf-wp-login-holder .eltdf-btn.eltdf-facebook-login {
  margin-bottom: 0;
}

.eltdf-wp-register-holder .eltdf-btn {
  margin: 10px 0 0;
  width: 100%;
  z-index: 1;
}

.eltdf-wp-register-holder .eltdf-btn.eltdf-facebook-login {
  margin-bottom: 0;
}

.eltdf-wp-register-holder .eltdf-btn .eltdf-log-in-text {
  z-index: 2;
}

.eltdf-wp-register-holder .eltdf-btn .eltdf-btn-hover-item {
  z-index: -1;
}

/* Login/Register/Password form - end
   ========================================================================== */
/* Login/Register widget - start
   ========================================================================== */
/* User not logged in */
.eltdf-login-register-widget {
  /* User logged in */
}

.eltdf-login-register-widget.eltdf-user-not-logged-in {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-not-logged-in {
  height: 100%;
}

.eltdf-sidebar .eltdf-login-register-widget.eltdf-user-not-logged-in {
  width: 100%;
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener,
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  padding: 0 20px;
  min-width: 86px;
  text-align: center;
  line-height: 29px;
  color: #fff;
  background-color: #04d2c8;
  border-radius: 30px;
  z-index: 1;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  /* Menu area */
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:hover:after,
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:hover:after {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  transform: scaleY(1);
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:before,
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:before {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  font-family: 'Linearicons-Free';
  font-size: 11px;
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:after,
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  background-color: #22e2d9;
  border-radius: inherit;
  z-index: -1;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener, .eltdf-menu-area
.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  position: relative;
  display: inline-block;
  top: 50%;
  margin: 0 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-login-opener:before {
  content: "\e82a";
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener {
  margin-left: 15px;
}

.eltdf-login-register-widget.eltdf-user-not-logged-in .eltdf-register-opener:before {
  content: "\e802";
}

.eltdf-login-register-widget.eltdf-user-logged-in {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  /* Top bar and menu area dropdown position */
  /* Menu area style */
}

.eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner > span img {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin: 0 5px 0 0;
  border-radius: 100%;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 185px;
  margin: 0;
  padding: 20px 38px;
  list-style-type: none;
  text-align: left;
  text-transform: none;
  background-color: #fff;
  border-top: 4px solid #04d2c8;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li {
  padding: 5px 0;
  margin: 0;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a {
  position: relative;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #ababab;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a:hover,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown li a:hover {
  color: #04d2c8;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in:hover .eltdf-login-dropdown,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in:hover .eltdf-login-dropdown {
  visibility: visible;
  opacity: 1;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in {
  cursor: pointer;
  /* User part */
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user {
  height: 100%;
  display: table;
  vertical-align: middle;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner,
.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown {
  border-top: 1px solid #ebebeb;
}

.eltdf-top-bar .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user {
  line-height: 44px;
}

/* Login/Register widget - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/eltdf-membership/assets/css/membership.css.map */
