/* ==========================================================================
   Education Timeline shortcode style - begin
   ========================================================================== */
.eltdf-tml-holder {
	
	.eltdf-timeline {
		position: relative;

		.eltdf-tml-item-holder {
			position: relative;
			padding-bottom: 7px;
			
			&.eltdf-appeared {
				
				&:not(:last-of-type)::after {
					height: 100%;
				}

				.eltdf-tml-item-content {
					opacity: 1;
					@include eltdfTransform(translateX(0));
				}
			}
			
			&:not(:last-of-type)::after {
				content: "";
				position: absolute;
				top: .6em;
				width: 3px;
				height: 0;
				background: $first-main-color;
				z-index: 1;
				@include eltdfTransition(linear height .5s);
			}
			
			.eltdf-tml-item-circle {
				width: 12px;
				height: 12px;
				background-color: $first-main-color;
				position: absolute;
				top: 6px;
				-webkit-border-radius:50%;
				-moz-border-radius:50%;
				border-radius:50%;
				margin-left: -5px;
			}
			
			.eltdf-tml-item-content {
				padding-left: 27px;
				padding-bottom: 12px;
				opacity: 0;
				@include eltdfTransform(translateX(-20px));
				@include eltdfTransition(all .5s);
				
				.eltdf-tml-item-title {
					margin: 0;
					font-weight: 700;
				}
				
				.eltdf-tml-item-subtitle {
					margin: 0;
					line-height: 26px;
				}
			}
		}
	}
}

/* ==========================================================================
   Education Timeline shortcode style - end
   ========================================================================== */