/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.eltdf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.eltdf-page-header a img {
  display: block;
}

.eltdf-page-header p {
  margin: 0;
}

.eltdf-page-header .eltdf-vertical-align-containers {
  padding: 0 40px;
}

.eltdf-paspartu-enabled .eltdf-page-header .eltdf-vertical-align-containers {
  padding: 0;
}

.eltdf-page-header .eltdf-grid {
  height: 100%;
}

.eltdf-page-header .eltdf-grid .eltdf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.eltdf-page-header .eltdf-logo-area {
  position: relative;
  height: 96px;
  overflow: hidden;
  background-color: #fff;
}

.eltdf-page-header .eltdf-logo-area .eltdf-logo-wrapper a {
  max-height: 96px;
}

.eltdf-page-header .eltdf-menu-area {
  position: relative;
  height: 96px;
  background-color: #fff;
  box-sizing: border-box;
}

.eltdf-boxed .eltdf-page-header .eltdf-menu-area {
  padding: 0;
}

.eltdf-page-header .eltdf-menu-area .eltdf-logo-wrapper a {
  max-height: 96px;
}

.eltdf-page-header .eltdf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.eltdf-logo-area-border-disable .eltdf-page-header .eltdf-logo-area {
  border: none;
}

.eltdf-logo-area-in-grid-border-disable .eltdf-page-header .eltdf-logo-area .eltdf-grid .eltdf-vertical-align-containers {
  border: none;
}

.eltdf-header-logo-area-in-grid-padding .eltdf-page-header .eltdf-logo-area .eltdf-vertical-align-containers {
  padding: 0 25px;
}

.eltdf-menu-area-shadow-disable .eltdf-page-header .eltdf-menu-area {
  box-shadow: none;
}

.eltdf-menu-area-shadow-disable .eltdf-page-header .eltdf-menu-area .eltdf-grid .eltdf-vertical-align-containers {
  box-shadow: none;
}

.eltdf-menu-area-border-disable .eltdf-page-header .eltdf-menu-area {
  border: none;
}

.eltdf-menu-area-in-grid-border-disable .eltdf-page-header .eltdf-menu-area .eltdf-grid .eltdf-vertical-align-containers {
  border: none;
}

.eltdf-header-logo-area-in-grid-padding .eltdf-page-header .eltdf-menu-area .eltdf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-light-logo {
  opacity: 1;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-normal-logo,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-dark-logo {
  opacity: 0;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget p,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget a,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget span,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget i,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget a:hover {
  color: #04d2c8 !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget p,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget a,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget span,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget i,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget a:hover {
  color: #04d2c8 !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-dark-logo {
  opacity: 1;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-normal-logo,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-light-logo {
  opacity: 0;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget p,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget a,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget span,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget i,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget .widgettitle {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget p,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget a,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget span,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget i,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget .widgettitle {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.eltdf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.eltdf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.eltdf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.eltdf-logo-wrapper a img.eltdf-normal-logo {
  opacity: 1;
}

.eltdf-logo-wrapper a img.eltdf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.eltdf-logo-wrapper a img.eltdf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.eltdf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.eltdf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.eltdf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.eltdf-main-menu ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #ababab;
}

.eltdf-main-menu ul li a:hover {
  color: #04d2c8;
}

.eltdf-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.eltdf-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.eltdf-main-menu ul li a .eltdf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 5px;
  color: currentColor;
  font-size: 10px;
  margin: 0;
}

.eltdf-main-menu ul li a .eltdf-menu-featured-icon:before {
  margin: 0;
}

.eltdf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.eltdf-main-menu > ul > li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.eltdf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 24px;
  color: #42495b;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
}

.eltdf-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.eltdf-main-menu > ul > li > a > span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.eltdf-main-menu > ul > li.eltdf-active-item > a {
  color: #04d2c8;
}

.eltdf-main-menu > ul > li.has_sub > a .eltdf-menu-arrow {
  display: none;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a {
  color: #fff;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a:hover {
  color: #04d2c8;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li.eltdf-active-item > a {
  color: #04d2c8;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a {
  color: #000;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a:hover {
  color: #000;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li.eltdf-active-item > a {
  color: #000;
}

/* Narrow drop down styles
   ========================================================================== */
.eltdf-drop-down .second {
  position: absolute;
  display: block;
  left: -13px;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
}

.eltdf-drop-down .second.eltdf-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.eltdf-drop-down .second.right {
  right: -13px;
  left: auto;
}

.eltdf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  border-top: 4px solid #04d2c8;
  z-index: 997;
}

.eltdf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.eltdf-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.eltdf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 5px 30px 5px 38px;
}

.eltdf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(0) rotate(0.05deg);
  -moz-transform: translateY(0) rotate(0.05deg);
  transform: translateY(0) rotate(0.05deg);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37);
  transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37);
}

.eltdf-drop-down .second .inner ul li a .item_outer .item_text {
  display: block;
  backface-visibility: hidden;
  -moz-transform: perspective(1px);
}

.eltdf-drop-down .second .inner ul li:hover > a {
  color: #04d2c8;
}

.eltdf-drop-down .second .inner ul li:hover > a .item_outer {
  -webkit-transform: translateY(-3px) rotate(0.05deg);
  -moz-transform: translateY(-3px) rotate(0.05deg);
  transform: translateY(-3px) rotate(0.05deg);
}

.eltdf-drop-down .second .inner ul li.current-menu-ancestor > a,
.eltdf-drop-down .second .inner ul li.current-menu-item > a {
  color: #04d2c8;
}

.eltdf-drop-down .second .inner ul li.sub > a .item_outer:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
  right: -0;
  content: '\35';
  font-family: 'ElegantIcons';
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eltdf-drop-down .second .inner ul.right li a {
  padding: 5px 38px 5px 30px;
}

.eltdf-drop-down .second .inner ul.right li.sub > a .item_outer:after {
  right: auto;
  left: -2px;
  content: "\34";
}

.eltdf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.eltdf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.eltdf-drop-down li.left_position .second {
  left: 0;
}

.eltdf-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.eltdf-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.eltdf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 20px 0;
}

.eltdf-drop-down .narrow .second .inner ul li {
  width: 226px;
}

.eltdf-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -24px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  border-top: 4px solid #04d2c8;
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.eltdf-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.eltdf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

/* Wide drop down styles
   ========================================================================== */
.eltdf-drop-down .wide .second .inner {
  background-color: #fff;
  text-align: center;
}

.eltdf-drop-down .wide .second .inner ul li a {
  padding: 5px 0;
}

.eltdf-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.eltdf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.eltdf-drop-down .wide .second .inner > ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1100px;
  padding: 35px 0 31px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1400px) {
  .eltdf-grid-1300 .eltdf-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .eltdf-grid-1200 .eltdf-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .eltdf-grid-1000 .eltdf-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .eltdf-grid-800 .eltdf-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.eltdf-drop-down .wide .second .inner > ul > li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 26px;
  box-sizing: border-box;
}

.eltdf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
}

.eltdf-drop-down .wide .second .inner > ul > li > a {
  padding: 0 0 13px;
  color: #42495b;
  font-size: 14px;
  line-height: 1.1em;
  letter-spacing: .05em;
}

.eltdf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.eltdf-drop-down .wide .second .inner > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.eltdf-drop-down .wide .second .inner > ul > li > a .item_outer:before, .eltdf-drop-down .wide .second .inner > ul > li > a .item_outer:after {
  display: none;
}

.eltdf-drop-down .wide .second .inner > ul > li:hover > a .item_outer {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.eltdf-drop-down .wide .second .inner > ul > li.current-menu-ancestor > a,
.eltdf-drop-down .wide .second .inner > ul > li.current-menu-item > a {
  color: #04d2c8;
}

.eltdf-drop-down .wide.left_position .second .inner > ul, .eltdf-drop-down .wide.right_position .second .inner > ul {
  width: auto;
  white-space: nowrap;
}

.eltdf-drop-down .wide.left_position .second .inner > ul > li, .eltdf-drop-down .wide.right_position .second .inner > ul > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.eltdf-drop-down .wide.left_position .second ul li, .eltdf-drop-down .wide.right_position .second ul li {
  width: 226px;
}

.eltdf-drop-down .wide.wide-two-columns .second .inner > ul {
  padding: 35px 0;
}

.eltdf-drop-down .wide.wide-two-columns .second .inner > ul > li {
  width: 15%;
  padding: 0 40px;
}

@media only screen and (max-width: 1280px) {
  .eltdf-drop-down .wide.wide-two-columns .second .inner > ul > li {
    padding: 0 30px;
  }
}

.eltdf-drop-down .wide.wide-two-columns .second .inner > ul > li:nth-child(2n) {
  width: 85%;
  border-left: 1px solid #ebebeb;
}

.eltdf-drop-down .wide.wide-two-columns .second .inner > ul > li:nth-child(2n+1) {
  clear: both;
}

.eltdf-drop-down .wide.wide-two-columns .second .inner > ul > li:nth-child(4n+1) {
  clear: none;
}

.eltdf-drop-down .wide.wide-two-columns .eltdf-cl-minimal {
  margin-top: 9px;
}

.eltdf-drop-down .wide.wide-two-columns .eltdf-cl-minimal article {
  margin-bottom: 2px;
}

.eltdf-drop-down .wide.wide-two-columns .eltdf-cl-minimal .eltdf-cli-image {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 0;
}

.eltdf-drop-down .wide.wide-two-columns .eltdf-cl-minimal .eltdf-cli-image img {
  border-radius: 6px;
}

.eltdf-drop-down .wide.wide-two-columns .eltdf-cl-minimal .eltdf-cli-text-holder {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 9px 0 0;
}

.eltdf-drop-down .wide.wide-two-columns .eltdf-cl-minimal .eltdf-cli-title {
  display: block;
  padding: 0 80px 0 0;
  box-sizing: border-box;
}

.eltdf-drop-down .wide.wide-two-columns .eltdf-cl-minimal .eltdf-cli-title a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding: 0;
  margin: 0;
}

.eltdf-drop-down .wide.wide-two-columns .eltdf-cl-minimal .eltdf-cli-top-info {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.eltdf-page-header .eltdf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .eltdf-page-header .eltdf-fixed-wrapper.fixed {
  margin-top: 32px;
}

.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-menu-area {
  background-color: #fff;
}

.eltdf-fixed-on-scroll .eltdf-page-header .eltdf-fixed-wrapper .eltdf-menu-area {
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  transition: height 0.2s ease;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/*==========================================================================
# Fullscreen menu style - begin
========================================================================== */
/* Fullscreen general style - begin
========================================================================== */
.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-fullscreen-menu-opener {
  color: #000;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-fullscreen-menu-opener:hover, .eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-fullscreen-menu-opener.eltdf-fm-opened {
  color: #000;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-fullscreen-menu-opener {
  color: #fff;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-fullscreen-menu-opener:hover, .eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-fullscreen-menu-opener.eltdf-fm-opened {
  color: #fff;
}

.eltdf-fullscreen-menu-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -5px;
}

.eltdf-fullscreen-menu-opener .eltdf-fm-lines {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 20px;
}

.eltdf-fullscreen-menu-opener .eltdf-fm-lines .eltdf-fm-line {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: -moz-transform 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
  transition: transform 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
}

.eltdf-fullscreen-menu-opener .eltdf-fm-lines .eltdf-fm-line.eltdf-line-1 {
  top: 0;
  outline: transparent solid 1px;
}

.eltdf-fullscreen-menu-opener .eltdf-fm-lines .eltdf-fm-line.eltdf-line-2 {
  top: calc(50% - 2px);
  outline: transparent solid 1px;
}

.eltdf-fullscreen-menu-opener .eltdf-fm-lines .eltdf-fm-line.eltdf-line-3 {
  top: calc(100% - 4px);
  outline: transparent solid 1px;
}

.eltdf-fullscreen-menu-opener:hover .eltdf-fm-lines .eltdf-fm-line.eltdf-line-1, .eltdf-fullscreen-menu-opener:hover .eltdf-fm-lines .eltdf-fm-line.eltdf-line-3 {
  top: calc(50% - 2px);
}

.eltdf-fullscreen-menu-opener:hover .eltdf-fm-lines .eltdf-fm-line.eltdf-line-2 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.eltdf-fullscreen-menu-opener.eltdf-fm-opened {
  color: #fff;
}

.eltdf-fullscreen-menu-opener.eltdf-fm-opened .eltdf-fm-lines .eltdf-fm-line.eltdf-line-1 {
  display: none;
}

.eltdf-fullscreen-menu-opener.eltdf-fm-opened .eltdf-fm-lines .eltdf-fm-line.eltdf-line-2 {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.eltdf-fullscreen-menu-opener.eltdf-fm-opened .eltdf-fm-lines .eltdf-fm-line.eltdf-line-3 {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.eltdf-fullscreen-menu-opened .eltdf-page-header,
.eltdf-fullscreen-menu-opened .eltdf-top-bar {
  visibility: hidden;
}

.eltdf-fullscreen-menu-opened .eltdf-fullscreen-menu-opener,
.eltdf-fullscreen-menu-opened .eltdf-logo-wrapper {
  visibility: visible;
}

.eltdf-fullscreen-menu-opened .eltdf-logo-wrapper a img {
  opacity: 0;
}

.eltdf-fullscreen-menu-opened .eltdf-logo-wrapper a img.eltdf-light-logo {
  opacity: 1;
}

.eltdf-fullscreen-menu-opened .eltdf-fullscreen-menu-holder-outer {
  visibility: visible !important;
  opacity: 1 !important;
}

.eltdf-fullscreen-menu-holder-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  visibility: hidden;
  opacity: 0;
  z-index: 105;
  /* this has to be between header z-index and content z-index */
}

.eltdf-fullscreen-menu-holder {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 73, 91, 0.95);
  display: table;
  background-repeat: repeat;
  background-position: 0 0;
}

.eltdf-fullscreen-menu-holder-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 100px 0;
}

.touch .eltdf-fullscreen-menu-holder-outer {
  display: none;
}

.touch .eltdf-fullscreen-menu-opened .eltdf-fullscreen-menu-holder-outer {
  display: block;
}

nav.eltdf-fullscreen-menu {
  position: relative;
  top: 0;
  margin: 0 auto;
  text-align: left;
}

nav.eltdf-fullscreen-menu ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.eltdf-fullscreen-menu ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav.eltdf-fullscreen-menu ul li a {
  position: relative;
  display: block;
  margin: 5px 0;
  padding: 6px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease, color 0.2s ease-out;
  -moz-transition: -moz-transform 0.3s ease, color 0.2s ease-out;
  transition: transform 0.3s ease, color 0.2s ease-out;
}

nav.eltdf-fullscreen-menu ul li a:hover {
  color: #04d2c8;
  -webkit-transform: translate3d(0, -3px, 0);
  -moz-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}

nav.eltdf-fullscreen-menu ul li a span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

nav.eltdf-fullscreen-menu ul li a .eltdf-fullscreen-menu-arrow {
  display: none;
}

nav.eltdf-fullscreen-menu ul li ul {
  padding: 17px 0;
}

nav.eltdf-fullscreen-menu ul li ul.sub_menu {
  display: none;
}

nav.eltdf-fullscreen-menu ul li ul li.current-menu-ancestor > a,
nav.eltdf-fullscreen-menu ul li ul li.current-menu-item > a {
  color: #04d2c8;
}

nav.eltdf-fullscreen-menu ul li ul li ul li a {
  font-size: 18px;
}

nav.eltdf-fullscreen-menu > ul {
  display: block;
}

nav.eltdf-fullscreen-menu > ul > li > a {
  padding: 16px 0;
  font-size: 45px;
}

@media only screen and (max-width: 1440px) {
  nav.eltdf-fullscreen-menu > ul > li > a {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1280px) {
  nav.eltdf-fullscreen-menu > ul > li > a {
    font-size: 32px;
  }
}

@media only screen and (max-width: 680px) {
  nav.eltdf-fullscreen-menu > ul > li > a {
    padding: 8px 0;
    font-size: 26px;
  }
}

nav.eltdf-fullscreen-menu > ul > li.eltdf-active-item > a {
  color: #04d2c8;
}

.eltdf-fullscreen-below-menu-widget-holder {
  text-align: center;
  margin-top: 20px;
}

.eltdf-fullscreen-above-menu-widget-holder {
  text-align: center;
}

/* Fullscreen general style - end
========================================================================== */
/* Fullscreen fade animations general - begin
========================================================================== */
@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.eltdf-fade-push-text-right .eltdf-fullscreen-menu-holder-outer,
.eltdf-fade-push-text-top .eltdf-fullscreen-menu-holder-outer,
.eltdf-fade-text-scaledown .eltdf-fullscreen-menu-holder-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden !important;
  z-index: 105;
  opacity: 0;
}

.eltdf-fullscreen-fade-out .eltdf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_out .25s linear both;
  -moz-animation: fade_out .25s linear both;
  animation: fade_out .25s linear both;
}

.eltdf-fullscreen-menu-opened.eltdf-fullscreen-fade-in .eltdf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_in .25s linear both;
  -moz-animation: fade_in .25s linear both;
  animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */
/* Fullscreen animation push text right - begin
========================================================================== */
@-webkit-keyframes push_text_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_text_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_text_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes push_nav_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_nav_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_nav_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.eltdf-fullscreen-menu-opened.eltdf-fade-push-text-right .eltdf-fullscreen-menu-holder-outer nav > ul > li > a,
.eltdf-fullscreen-menu-opened.eltdf-fade-push-text-right .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-below-menu-widget-holder > div,
.eltdf-fullscreen-menu-opened.eltdf-fade-push-text-right .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  -moz-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
}

.eltdf-fade-push-text-right.eltdf-push-nav-right .eltdf-fullscreen-menu-holder-outer nav,
.eltdf-fade-push-text-right.eltdf-push-nav-right .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-below-menu-widget-holder,
.eltdf-fade-push-text-right.eltdf-push-nav-right .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-above-menu-widget-holder {
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px);
}

/* Fullscreen animation push text right - end
========================================================================== */
/* Fullscreen animation push text top - begin
========================================================================== */
@-webkit-keyframes push_text_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes push_text_top {
  0% {
    opacity: 0;
    -moz-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes push_text_top {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.eltdf-fullscreen-menu-opened.eltdf-fade-push-text-top .eltdf-fullscreen-menu-holder-outer nav > ul > li > a,
.eltdf-fullscreen-menu-opened.eltdf-fade-push-text-top .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-below-menu-widget-holder > div,
.eltdf-fullscreen-menu-opened.eltdf-fade-push-text-top .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_top 0.4s ease-out both 0.5s;
  -moz-animation: push_text_top 0.4s ease-out both 0.5s;
  animation: push_text_top 0.4s ease-out both 0.5s;
}

.eltdf-fade-push-text-top.eltdf-push-text-top .eltdf-fullscreen-menu-holder-outer nav,
.eltdf-fade-push-text-top.eltdf-push-text-top .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-below-menu-widget-holder,
.eltdf-fade-push-text-top.eltdf-push-text-top .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-above-menu-widget-holder {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

/* Fullscreen animation push text top - end
========================================================================== */
/* Fullscreen animation fade text scaledown - begin
========================================================================== */
.eltdf-fullscreen-menu-opened.eltdf-fade-text-scaledown .eltdf-fullscreen-menu-holder-outer nav,
.eltdf-fullscreen-menu-opened.eltdf-fade-text-scaledown .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-below-menu-widget-holder,
.eltdf-fullscreen-menu-opened.eltdf-fade-text-scaledown .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-above-menu-widget-holder {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

.eltdf-fade-text-scaledown .eltdf-fullscreen-menu-holder-outer nav,
.eltdf-fade-text-scaledown .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-below-menu-widget-holder,
.eltdf-fade-text-scaledown .eltdf-fullscreen-menu-holder-outer .eltdf-fullscreen-above-menu-widget-holder {
  opacity: 0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */
/* ==========================================================================
# Fullscreen menu style - end
==========================================================================*/
/* ==========================================================================
   Header Minimal style - begin
   ========================================================================== */
.eltdf-header-minimal .eltdf-page-header .eltdf-menu-area .eltdf-position-right-inner {
  height: auto;
}

.eltdf-header-minimal .eltdf-page-header .eltdf-position-left:before,
.eltdf-header-minimal .eltdf-page-header .eltdf-position-right:before {
  content: "";
}

.eltdf-header-minimal .eltdf-page-header .eltdf-sticky-header .eltdf-position-left-inner {
  height: auto;
}

.eltdf-header-minimal .eltdf-page-header .eltdf-sticky-header .eltdf-vertical-align-containers .eltdf-position-right .eltdf-position-right-inner {
  height: auto;
}

/* ==========================================================================
   Header Minimal style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-left-inner {
  height: 100%;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-center .eltdf-vertical-align-containers .eltdf-position-center-inner {
  height: 100%;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-right .eltdf-main-menu {
  width: auto;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-right .eltdf-vertical-align-containers .eltdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.eltdf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
	========================================================================== */
}

.eltdf-mobile-header .eltdf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
}

.eltdf-mobile-header .eltdf-mobile-header-inner .eltdf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.eltdf-mobile-header .eltdf-grid {
  height: 100%;
}

.eltdf-mobile-header .eltdf-vertical-align-containers {
  padding: 0;
}

.eltdf-mobile-header .eltdf-mobile-logo-wrapper a {
  display: block;
}

.eltdf-mobile-header .eltdf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener {
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a {
  display: table;
  height: 100%;
  padding-right: 10px;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a > * {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a .eltdf-mobile-menu-icon {
  font-size: 32px;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a .eltdf-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-left: 5px;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opened a {
  color: #04d2c8;
}

.eltdf-mobile-header .eltdf-mobile-nav {
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

.eltdf-mobile-header .eltdf-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.eltdf-mobile-header .eltdf-mobile-nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
}

.eltdf-mobile-header .eltdf-mobile-nav ul li a, .eltdf-mobile-header .eltdf-mobile-nav ul li h6 {
  position: relative;
  display: block;
  padding: 9px 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #808080;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}

.eltdf-mobile-header .eltdf-mobile-nav ul li a:hover, .eltdf-mobile-header .eltdf-mobile-nav ul li h6:hover {
  color: #04d2c8;
}

.eltdf-mobile-header .eltdf-mobile-nav ul ul {
  display: none;
  margin-left: 15px;
}

.eltdf-mobile-header .eltdf-mobile-nav ul ul li.current-menu-ancestor > a,
.eltdf-mobile-header .eltdf-mobile-nav ul ul li.current-menu-item > a,
.eltdf-mobile-header .eltdf-mobile-nav ul ul li.current-menu-ancestor > h6,
.eltdf-mobile-header .eltdf-mobile-nav ul ul li.current-menu-item > h6 {
  color: #04d2c8;
}

.eltdf-mobile-header .eltdf-mobile-nav ul ul li a, .eltdf-mobile-header .eltdf-mobile-nav ul ul li h6 {
  font-size: 12px;
  line-height: 24px;
}

.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul {
  padding-bottom: 22px;
}

.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li:last-child > a,
.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li:last-child > h6 {
  border-bottom: 0;
}

.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li > a,
.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li > h6 {
  padding-left: 4px;
  font-size: 14px;
}

.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li.eltdf-active-item > a,
.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li.eltdf-active-item > h6 {
  color: #04d2c8;
}

.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li.eltdf-active-item > .mobile_arrow > .eltdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.eltdf-mobile-header .eltdf-mobile-nav .mobile_arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  padding-right: 12px;
  font-size: 15px;
  line-height: 42px;
  text-align: right;
}

.eltdf-mobile-header .eltdf-mobile-nav .mobile_arrow:hover {
  cursor: pointer;
}

.eltdf-mobile-header .eltdf-mobile-nav .mobile_arrow .eltdf-sub-arrow {
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.eltdf-mobile-header .eltdf-mobile-nav .mobile_arrow .fa-angle-down {
  display: none;
}

.eltdf-mobile-header .eltdf-mobile-nav li.eltdf-opened > .mobile_arrow > .eltdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.eltdf-mobile-header .eltdf-mobile-nav > ul > li:last-child > a,
.eltdf-mobile-header .eltdf-mobile-nav > .eltdf-grid > ul > li:last-child > a {
  border-bottom: none;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.eltdf-sticky-up-mobile-header .eltdf-animate-mobile-header .eltdf-mobile-header-inner {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
}

.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.eltdf-sticky-up-mobile-header.admin-bar .mobile-header-appear .eltdf-mobile-header-inner {
  -webkit-transform: translateY(32px);
  -moz-transform: translateY(32px);
  transform: translateY(32px);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.eltdf-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.eltdf-sticky-header .eltdf-grid {
  height: 100% !important;
}

.eltdf-sticky-header.header-appear {
  transform: translateY(0%);
}

.eltdf-sticky-header .eltdf-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
}

.eltdf-sticky-header .eltdf-sticky-holder .eltdf-vertical-align-containers {
  padding: 0 40px;
}

.eltdf-sticky-header .eltdf-sticky-holder .eltdf-grid .eltdf-vertical-align-containers {
  padding: 0;
}

.eltdf-sticky-header .eltdf-sticky-holder .eltdf-logo-wrapper a {
  max-height: 70px;
}

.admin-bar .eltdf-sticky-header.header-appear {
  top: 32px;
}

.eltdf-sticky-header .eltdf-position-center-inner,
.eltdf-sticky-header .eltdf-position-right-inner {
  height: 100%;
}

.eltdf-sticky-header .eltdf-sticky-right {
  display: inline-block;
  vertical-align: middle;
}

.eltdf-sticky-header .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.eltdf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #42495b;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  z-index: 111;
  box-sizing: border-box;
}

.eltdf-cover-search-opened .eltdf-top-bar {
  z-index: 110;
}

.eltdf-top-bar > .eltdf-vertical-align-containers {
  padding: 0 40px;
}

.eltdf-top-bar .eltdf-grid {
  height: 100%;
}

.eltdf-top-bar .eltdf-grid .eltdf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.eltdf-top-bar-in-grid-padding .eltdf-top-bar .eltdf-grid .eltdf-vertical-align-containers {
  padding: 0 40px;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/header-map.css.map */
