/* ==========================================================================
   Service Table shortcode style - begin
   ========================================================================== */

.eltdf-service-table {
    @include eltdfRelativeHolderLayout();
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 3px 6px 1px rgba(0,0,0, .05);
    box-sizing: border-box;
    
    table {
        table-layout: fixed;
        width: 100%; /* must have this set */
	    border-collapse: inherit;
	    
        thead {

            tr {
                border: 0;

                th {
                    width: 23.33333%;
                    padding: 53px 35px 39px;
                    text-align: center;
					box-sizing: border-box;
	                
                    &:first-child {
                        width: 30%;
                        vertical-align: middle;
                        text-align: left;
                    }
                    
                    &:nth-child(2) {
                        background-color: #f8f8f8;
                        border-top: 6px solid $aditional-text-color;
    
                        .eltdf-st-item-price {
                            color: $aditional-text-color;
                        }
                    }
    
                    &:nth-child(3) {
	                    background-color: #f1efef;
                        border-top: 6px solid $first-main-color;
                    }
    
                    &:nth-child(4) {
                        background-color: #f8f8f8;
                        border-top: 6px solid $default-heading-color;
    
                        .eltdf-st-item-price {
                            color: $default-heading-color;
                        }
                    }
                }
            }
        }

        tbody {

            tr {
                border: 0;
	            
	            &:nth-last-child(2) {
		
		            .eltdf-service-table-feature-title {
			
			            p {
				            border-bottom: 0;
			            }
		            }
		
		            .eltdf-st-item-mark {
			            border-bottom: 0;
		            }
	            }
	            
	            &.eltdf-st-item-button {
		            
		            td {
						padding: 27px 10px;
			            
			            &:not(:first-child) {
							background-color: #f8f8f8;
			            }
			
			            &:nth-child(3) {
				            background-color: #f1efef;
			            }
			
			            &:nth-child(2) {
				            
				            .eltdf-btn {
					            
					            &.eltdf-btn-solid {
						            color: #fff !important;
						            background-color: $aditional-text-color !important;
						            border-color: $aditional-text-color !important;
						            
						            &:hover {
							            color: #fff !important;
							            background-color: $aditional-text-color !important;
							            border-color: $aditional-text-color !important;
						            }
					            }

                                &.eltdf-hover-animation .eltdf-btn-hover-item {
                                  background-color: #fea116 !important;
                                }
				            }
			            }
			
			            &:nth-child(4) {
				
				            .eltdf-btn {
					
					            &.eltdf-btn-solid {
						            color: #fff !important;
						            background-color: $default-heading-color !important;
						            border-color: $default-heading-color !important;
						
						            &:hover {
							            color: #fff !important;
							            background-color: $default-heading-color !important;
							            border-color: $default-heading-color !important;
						            }

                                    &.eltdf-hover-animation .eltdf-btn-hover-item {
                                      background-color: #3e4557 !important;
                                    }
					            }
				            }
			            }
		            }
	            }

                td {
                    vertical-align: middle;
                    padding: 4px 35px;
	                text-align: center;
	                border-left: 1px solid $default-border-color;

                    &:first-child {
	                    text-align: left;
	                    border-left: 0;
                    }
                }
            }
        }
    
        .eltdf-st-star-holder {
            display: inline-block;
            vertical-align: middle;
            padding-bottom: 15px;
        }
    
        .eltdf-st-star {
            color: #ffc600;
            font-size: 18px;
            line-height: 1.1em;
        }
    
        .eltdf-st-item-title {
            display: block;
            margin: 0;
            
            span {
                color: $first-main-color;
            }
        }
    
        .eltdf-st-item-price {
            display: inline-block;
            vertical-align: middle;
            margin: 27px 0 0;
            color: $first-main-color;
            font-family: $default-heading-font-m;
            font-size: 50px;
            line-height: 1em;
            font-weight: 700;
        }
    
        .eltdf-st-item-interval {
            display: block;
            margin: 18px 0 0;
            color: #ababab;
            font-family: $default-heading-font-m;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
        }
	    
	    .eltdf-service-table-feature-title {
		    
		    p {
			    margin: 0;
			    padding: 10px 0;
			    border-bottom: 1px solid $default-border-color;
		    }
	    }
	    
	    .eltdf-st-item-mark {
		    @include eltdfRelativeHolderLayout();
		    padding: 10px 0;
		    border-bottom: 1px solid $default-border-color;
		    
		    > span {
			    display: inline-block;
			    vertical-align: middle;
			    line-height: inherit;
			    
			    &:before {
				    display: block;
				    line-height: inherit;
			    }
		    }
		    
		    .eltdf-mark {
			    font-size: 20px;
			    
			    &.eltdf-checked {
				    color: $first-main-color;
			    }
		    }
	    }
    }
}
/* ==========================================================================
   Service Table shortcode style - begin
   ========================================================================== */