@charset "UTF-8";
/* ==========================================================================
   Global partials
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   Custom Post Types styles
   ========================================================================== */
/* ==========================================================================
   Masonry Gallery shortcodes style - begin
   ========================================================================== */
.eltdf-masonry-gallery-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-masonry-gallery-holder .eltdf-mg-inner {
  opacity: 0;
}

.eltdf-masonry-gallery-holder .eltdf-mg-grid-gutter {
  width: 0;
}

.eltdf-masonry-gallery-holder .eltdf-mg-grid-sizer {
  width: 25%;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item {
  position: relative;
  width: 25%;
  z-index: 1;
  box-sizing: border-box;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-square-big {
  width: 50%;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-rectangle-landscape {
  width: 50%;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-rectangle-landscape .eltdf-mg-image img {
  max-height: inherit;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-rectangle-portrait .eltdf-mg-image img {
  max-width: inherit;
  width: auto;
  height: 100%;
}

.touch .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-no-info {
  cursor: pointer;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item:not(.eltdf-mg-no-info) .eltdf-mg-item-content {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  -moz-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
}

.eltdf-masonry-gallery-holder .eltdf-mg-item:not(.eltdf-mg-no-info):hover .eltdf-mg-item-content {
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-standard .eltdf-mg-item-content {
  padding: 50px;
  vertical-align: bottom;
}

@media only screen and (max-width: 1280px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-standard .eltdf-mg-item-content {
    padding: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-standard .eltdf-mg-item-content {
    padding: 30px;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-standard .eltdf-mg-item-content {
    padding: 10px 20px 20px;
  }
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-standard .eltdf-mg-item-button {
  margin-top: 40px;
}

@media only screen and (max-width: 1280px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-standard .eltdf-mg-item-button {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-standard .eltdf-mg-item-button {
    margin-top: 22px;
  }
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-simple .eltdf-mg-item-content {
  padding: 20px 37px;
}

@media only screen and (max-width: 1280px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-simple .eltdf-mg-item-content {
    padding: 15px 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-simple .eltdf-mg-item-content {
    padding: 15px 30px;
  }
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-skin-light .eltdf-mg-item-title {
  color: #fff;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-skin-light .eltdf-mg-item-text {
  color: #fff;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-skin-light.eltdf-mg-simple .eltdf-mg-item-button {
  color: #fff !important;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-skin-light.eltdf-mg-simple .eltdf-mg-item-button:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-item-outer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-item-inner {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-item-content {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-image {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transform: scale(1) translateZ(0px);
  -moz-transform: scale(1) translateZ(0px);
  transform: scale(1) translateZ(0px);
  -webkit-transition: transform 0.3s cubic-bezier(0.34, 0.52, 0.57, 1.04);
  -moz-transition: transform 0.3s cubic-bezier(0.34, 0.52, 0.57, 1.04);
  transition: transform 0.3s cubic-bezier(0.34, 0.52, 0.57, 1.04);
}

.eltdf-masonry-gallery-holder .eltdf-mg-item:hover .eltdf-mg-image {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-image-overlay {
  position: absolute;
  top: -4px;
  left: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-item-icon {
  margin: 0 0 7px;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-item-title {
  margin: 0;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-item-text {
  margin: 19px 0 0;
}

@media only screen and (max-width: 1024px) {
  .eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-item-text {
    margin-top: 14px;
  }
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-item-button {
  margin: 12px 0 0;
  z-index: 1;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item .eltdf-mg-item-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* ==========================================================================
   Masonry Gallery shortcodes style - end
   ========================================================================== */
/* ==========================================================================
   Testimonials boxed style - begin
   ========================================================================== */
.eltdf-testimonials-holder.eltdf-testimonials-boxed {
  text-align: center;
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .owl-item {
  padding: 2px;
  box-sizing: border-box;
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .eltdf-testimonial-image img {
  margin: 0 auto;
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .eltdf-testimonial-content {
  padding: 50px 30px 59px;
  margin: 0 0 37px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .eltdf-testimonial-text {
  margin-top: 37px;
  font-size: 22px;
  color: #595959;
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .eltdf-testimonial-author {
  margin-top: 34px;
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .eltdf-testimonials-author-job {
  margin-top: 8px;
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .eltdf-testimonials-mark {
  position: absolute;
  left: calc(50% - 37px);
  bottom: -37px;
  width: 74px;
  height: 74px;
  font-size: 72px;
  line-height: 102px;
  text-align: center;
  color: #fff;
  background-color: #04d2c8;
  border-radius: 50px;
  -webkit-transition: border-radius 0.4s cubic-bezier(0.27, -0.22, 0.26, 1.37);
  -moz-transition: border-radius 0.4s cubic-bezier(0.27, -0.22, 0.26, 1.37);
  transition: border-radius 0.4s cubic-bezier(0.27, -0.22, 0.26, 1.37);
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .eltdf-testimonials-mark:before {
  content: '“';
  display: block;
  line-height: inherit;
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .eltdf-testimonials-mark:hover {
  border-radius: 6px;
}

.eltdf-testimonials-holder.eltdf-testimonials-boxed .owl-dots {
  margin-top: 41px;
}

/* ==========================================================================
   Testimonials boxed style - end
   ========================================================================== */
/* ==========================================================================
   Testimonials elegant style - begin
   ========================================================================== */
.eltdf-testimonials-holder.eltdf-testimonials-elegant {
  opacity: 0;
  text-align: center;
}

.eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonial-text {
  margin-top: 0;
  font-size: 22px;
  color: #595959;
}

.eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonial-image-nav {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  max-width: 470px;
  margin: 27px auto 0;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonial-image-nav {
    max-width: 282px;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonial-image-nav {
    max-width: 94px;
  }
}

.eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonial-image-nav .owl-item {
  cursor: pointer;
}

.eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonial-image-nav .owl-item.active.center .eltdf-testimonial-image {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonial-image {
  position: relative;
  display: block;
  width: 94px;
  height: 94px;
  -webkit-transform: scale(0.78723);
  -moz-transform: scale(0.78723);
  transform: scale(0.78723);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonial-image img {
  width: 100% !important;
}

.eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonial-author {
  margin-top: 22px;
}

.eltdf-testimonials-holder.eltdf-testimonials-elegant .eltdf-testimonials-author-job {
  margin-top: 8px;
}

/* ==========================================================================
   Testimonials elegant style - end
   ========================================================================== */
/* ==========================================================================
   Testimonials standard style - begin
   ========================================================================== */
.eltdf-testimonials-holder.eltdf-testimonials-standard {
  text-align: center;
}

.eltdf-testimonials-holder.eltdf-testimonials-standard .eltdf-testimonial-image img {
  margin: 0 auto;
}

.eltdf-testimonials-holder.eltdf-testimonials-standard .eltdf-testimonial-text {
  margin-top: 29px;
  font-size: 22px;
  line-height: 30px;
}

.eltdf-testimonials-holder.eltdf-testimonials-standard .eltdf-testimonial-author {
  margin-top: 32px;
}

.eltdf-testimonials-holder.eltdf-testimonials-standard .eltdf-testimonials-author-job {
  margin-top: 8px;
}

/* ==========================================================================
   Testimonials standard style - end
   ========================================================================== */
/* ==========================================================================
   Testimonials shortcode style - begin
   ========================================================================== */
.eltdf-testimonials-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  /* Light/Dark styles */
}

.eltdf-testimonials-holder.eltdf-testimonials-light .eltdf-testimonial-text,
.eltdf-testimonials-holder.eltdf-testimonials-light .eltdf-testimonial-author,
.eltdf-testimonials-holder.eltdf-testimonials-light .eltdf-testimonials-author-job {
  color: #fff;
}

.eltdf-testimonials-holder.eltdf-testimonials-nav-light .eltdf-owl-slider .owl-nav .owl-next,
.eltdf-testimonials-holder.eltdf-testimonials-nav-light .eltdf-owl-slider .owl-nav .owl-prev {
  color: rgba(255, 255, 255, 0.5);
}

.eltdf-testimonials-holder.eltdf-testimonials-nav-light .eltdf-owl-slider .owl-nav .owl-next:hover,
.eltdf-testimonials-holder.eltdf-testimonials-nav-light .eltdf-owl-slider .owl-nav .owl-prev:hover {
  color: #fff;
}

.eltdf-testimonials-holder.eltdf-testimonials-nav-light .owl-dots .owl-dot span {
  background-color: rgba(255, 255, 255, 0.5);
}

.eltdf-testimonials-holder.eltdf-testimonials-nav-light .owl-dots .owl-dot:hover span, .eltdf-testimonials-holder.eltdf-testimonials-nav-light .owl-dots .owl-dot.active span {
  background-color: #fff;
}

.eltdf-testimonials-holder .eltdf-testimonials,
.eltdf-testimonials-holder .eltdf-testimonial-content,
.eltdf-testimonials-holder .eltdf-testimonial-content-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-testimonials-holder .eltdf-testimonial-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-testimonials-holder .eltdf-testimonial-image img {
  display: block;
  width: auto !important;
}

.eltdf-testimonials-holder .eltdf-testimonial-text,
.eltdf-testimonials-holder .eltdf-testimonial-author,
.eltdf-testimonials-holder .eltdf-testimonials-author-job {
  margin: 0;
}

.eltdf-testimonials-holder .eltdf-owl-slider .owl-nav .owl-prev {
  left: -30px;
}

.eltdf-testimonials-holder .eltdf-owl-slider .owl-nav .owl-next {
  right: -30px;
}

/* ==========================================================================
   Testimonials shortcode style - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/eltdf-core/assets/css/custom-post-types-map.css.map */
