/* ==========================================================================
   Global partials
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */
/* ==========================================================================
   Banner shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltdf-banner-holder.eltdf-banner-has-icon .eltdf-banner-content {
    padding-left: 90px;
  }
  .eltdf-banner-holder.eltdf-banner-has-icon .eltdf-banner-content .eltdf-banner-link {
    left: 90px;
    width: calc(100% - 90px);
  }
  .eltdf-banner-holder .eltdf-banner-text-holder {
    padding: 46px 35px 60px;
  }
  .eltdf-banner-holder .eltdf-banner-icon {
    width: 60px;
  }
  .eltdf-banner-holder .eltdf-banner-content .eltdf-banner-text {
    margin: 15px 0 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-banner-holder.eltdf-banner-has-icon .eltdf-banner-content {
    padding-left: 0;
  }
  .eltdf-banner-holder.eltdf-banner-has-icon .eltdf-banner-content .eltdf-banner-link {
    left: 0;
    width: 100%;
  }
  .eltdf-banner-holder .eltdf-banner-icon {
    display: none;
  }
}

/* ==========================================================================
   Banner shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Button shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltdf-btn.eltdf-btn-large {
    padding: 10px 54px;
  }
}

/* ==========================================================================
   Button shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Call To Action shortcode responsive style - begin
   ========================================================================== */
@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .eltdf-call-to-action-holder .eltdf-grid {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .eltdf-call-to-action-holder.eltdf-three-quarters-columns .eltdf-cta-text-holder, .eltdf-call-to-action-holder.eltdf-four-fifths-columns .eltdf-cta-text-holder {
    width: 66.66666666666667%;
  }
  .eltdf-call-to-action-holder.eltdf-three-quarters-columns .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-four-fifths-columns .eltdf-cta-button-holder {
    width: 33.33333333333333%;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-call-to-action-holder.eltdf-normal-layout .eltdf-cta-inner,
  .eltdf-call-to-action-holder.eltdf-normal-layout .eltdf-cta-text-holder,
  .eltdf-call-to-action-holder.eltdf-normal-layout .eltdf-cta-button-holder {
    display: block;
  }
  .eltdf-call-to-action-holder.eltdf-normal-layout .eltdf-cta-button-holder {
    margin: 28px 0 0;
    text-align: initial;
  }
  .eltdf-call-to-action-holder.eltdf-two-halves-columns .eltdf-cta-text-holder,
  .eltdf-call-to-action-holder.eltdf-two-halves-columns .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-two-thirds-columns .eltdf-cta-text-holder,
  .eltdf-call-to-action-holder.eltdf-two-thirds-columns .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-three-quarters-columns .eltdf-cta-text-holder,
  .eltdf-call-to-action-holder.eltdf-three-quarters-columns .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-four-fifths-columns .eltdf-cta-text-holder,
  .eltdf-call-to-action-holder.eltdf-four-fifths-columns .eltdf-cta-button-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Call To Action shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Countdown shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-countdown .countdown-row.countdown-show4 .countdown-section, .eltdf-countdown .countdown-row.countdown-show5 .countdown-section, .eltdf-countdown .countdown-row.countdown-show6 .countdown-section {
    width: 33.33333333333333%;
  }
  .eltdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 50px;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 40px;
  }
}

/* ==========================================================================
   Countdown shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Custom Font shortcode responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .eltdf-custom-font-holder.eltdf-disable-title-break br {
    display: none;
  }
}

/* ==========================================================================
   Custom Font shortcode responsive styles - end
   ========================================================================== */
/* ==========================================================================
   Elements Holder shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltdf-elements-holder.eltdf-responsive-mode-1280.eltdf-two-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1280.eltdf-three-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1280.eltdf-four-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1280.eltdf-five-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1280.eltdf-six-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1280.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
    text-align: left;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1280.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
    text-align: right;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1280.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-two-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-three-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-four-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-five-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-six-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
    text-align: left;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
    text-align: right;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-two-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-three-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-four-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-five-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-six-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
    text-align: left;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
    text-align: right;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-two-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-three-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-four-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-five-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-six-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
    text-align: left;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
    text-align: right;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-two-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-three-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-four-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-five-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-six-columns .eltdf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
    text-align: left;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
    text-align: right;
  }
  .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
    text-align: center;
  }
  .eltdf-elements-holder .eltdf-eh-item-content {
    padding: 0 10px;
  }
}

/* ==========================================================================
   Elements Holder shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Google Map shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   Google Map shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Image Gallery shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image {
    width: 20%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image:nth-child(6n+1) {
    clear: none;
  }
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1440px) {
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-grid-sizer {
    width: 20%;
  }
}

@media only screen and (max-width: 1280px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-five-columns .eltdf-ig-image {
    width: 25%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-five-columns .eltdf-ig-image:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image {
    width: 25%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-grid-sizer {
    width: 25%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 50%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-grid-sizer {
    width: 25%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-five-columns .eltdf-ig-image {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-five-columns .eltdf-ig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-four-columns .eltdf-ig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-two-columns .eltdf-ig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-three-columns .eltdf-ig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-four-columns .eltdf-ig-image:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-grid-sizer {
    width: 33.33333%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 66.66667%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-grid-sizer {
    width: 33.33333%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 66.66667%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-four-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-four-columns .eltdf-ig-grid-sizer {
    width: 50%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-four-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-five-columns .eltdf-ig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-five-columns .eltdf-ig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-three-columns .eltdf-ig-image {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-grid-sizer {
    width: 50%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-grid-sizer {
    width: 50%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-three-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-three-columns .eltdf-ig-grid-sizer {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-three-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-two-columns .eltdf-ig-image {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-three-columns .eltdf-ig-image {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-four-columns .eltdf-ig-image {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-five-columns .eltdf-ig-image {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-grid.eltdf-ig-six-columns .eltdf-ig-image {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-two-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-two-columns .eltdf-ig-grid-sizer {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-two-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-three-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-three-columns .eltdf-ig-grid-sizer {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-three-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-four-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-four-columns .eltdf-ig-grid-sizer {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-four-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-grid-sizer {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-five-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-image,
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-grid-sizer {
    width: 100%;
  }
  .eltdf-image-gallery .eltdf-ig-masonry.eltdf-ig-six-columns .eltdf-ig-image.eltdf-large-masonry-item {
    width: 100%;
  }
}

/* ==========================================================================
   Image Gallery shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Masonry Elements Holder shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .eltdf-masonry-elements-holder .eltdf-masonry-elements-item {
    width: 33.33333% !important;
  }
  .eltdf-masonry-elements-holder .eltdf-masonry-elements-item.eltdf-large-width, .eltdf-masonry-elements-holder .eltdf-masonry-elements-item.eltdf-large-width-height {
    width: 66.66666666666667% !important;
  }
  .eltdf-masonry-elements-holder .eltdf-masonry-elements-grid-sizer {
    width: 33.33333% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-masonry-elements-holder .eltdf-masonry-elements-item {
    width: 50% !important;
  }
  .eltdf-masonry-elements-holder .eltdf-masonry-elements-item.eltdf-large-width, .eltdf-masonry-elements-holder .eltdf-masonry-elements-item.eltdf-large-width-height {
    width: 100% !important;
  }
  .eltdf-masonry-elements-holder .eltdf-masonry-elements-grid-sizer {
    width: 50% !important;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-masonry-elements-holder .eltdf-masonry-elements-item {
    width: 100% !important;
  }
  .eltdf-masonry-elements-holder .eltdf-masonry-elements-item.eltdf-large-width, .eltdf-masonry-elements-holder .eltdf-masonry-elements-item.eltdf-large-width-height {
    width: 100% !important;
  }
  .eltdf-masonry-elements-holder .eltdf-masonry-elements-grid-sizer {
    width: 100% !important;
  }
}

/* ==========================================================================
   Masonry lements Holder shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Pricing Tables shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltdf-pricing-tables.eltdf-four-columns .eltdf-price-table {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 681px) {
  .eltdf-pricing-tables.eltdf-four-columns .eltdf-price-table:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .eltdf-pricing-tables.eltdf-five-columns .eltdf-price-table {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 681px) {
  .eltdf-pricing-tables.eltdf-five-columns .eltdf-price-table:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-pricing-tables.eltdf-three-columns .eltdf-price-table {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-pricing-tables .eltdf-price-table {
    width: 100% !important;
  }
}

/* ==========================================================================
   Pricing Tables shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Process shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltdf-process-holder .eltdf-process-background {
    width: calc(100% + 114px);
    margin: 0 -57px;
    background-size: contain;
  }
  .eltdf-process-holder.eltdf-responsive-1280 .eltdf-process-background {
    display: none;
  }
  .eltdf-process-holder.eltdf-responsive-1280 .eltdf-process-inner {
    margin: 0;
  }
  .eltdf-process-holder.eltdf-responsive-1280 .eltdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    margin-top: 60px;
  }
  .eltdf-process-holder.eltdf-responsive-1280 .eltdf-process-item:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-process-holder.eltdf-responsive-1024 .eltdf-process-background {
    display: none;
  }
  .eltdf-process-holder.eltdf-responsive-1024 .eltdf-process-inner {
    margin: 0;
  }
  .eltdf-process-holder.eltdf-responsive-1024 .eltdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    margin-top: 60px;
  }
  .eltdf-process-holder.eltdf-responsive-1024 .eltdf-process-item:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-process-holder.eltdf-responsive-768 .eltdf-process-background {
    display: none;
  }
  .eltdf-process-holder.eltdf-responsive-768 .eltdf-process-inner {
    margin: 0;
  }
  .eltdf-process-holder.eltdf-responsive-768 .eltdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    margin-top: 60px;
  }
  .eltdf-process-holder.eltdf-responsive-768 .eltdf-process-item:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-process-holder.eltdf-responsive-680 .eltdf-process-background {
    display: none;
  }
  .eltdf-process-holder.eltdf-responsive-680 .eltdf-process-inner {
    margin: 0;
  }
  .eltdf-process-holder.eltdf-responsive-680 .eltdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    margin-top: 60px;
  }
  .eltdf-process-holder.eltdf-responsive-680 .eltdf-process-item:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .eltdf-process-holder.eltdf-responsive-480 .eltdf-process-background {
    display: none;
  }
  .eltdf-process-holder.eltdf-responsive-480 .eltdf-process-inner {
    margin: 0;
  }
  .eltdf-process-holder.eltdf-responsive-480 .eltdf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    margin-top: 60px;
  }
  .eltdf-process-holder.eltdf-responsive-480 .eltdf-process-item:first-child {
    margin-top: 0;
  }
}

/* ==========================================================================
   Process shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Section Title shortcode responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .eltdf-section-title-holder {
    padding: 0 !important;
  }
  .eltdf-section-title-holder.eltdf-st-has-watermark .eltdf-st-inner {
    padding-top: 10px;
  }
  .eltdf-section-title-holder .eltdf-st-watermark {
    top: -5px;
    font-size: 120px;
  }
  .eltdf-section-title-holder span.eltdf-st-tagline {
    font-size: 20px;
  }
}

/* ==========================================================================
   Section Title shortcode responsive styles - end
   ========================================================================== */
/* ==========================================================================
   Service Table shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-service-table table thead tr th {
    padding: 43px 25px 29px;
  }
  .eltdf-service-table table tbody tr td {
    padding: 4px 25px;
    font-size: 16px;
  }
  .eltdf-service-table table .eltdf-st-star-holder {
    padding-bottom: 10px;
  }
  .eltdf-service-table table .eltdf-st-item-title {
    font-size: 18px;
  }
  .eltdf-service-table table .eltdf-st-item-price {
    font-size: 40px;
    margin-top: 17px;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-service-table table thead tr th {
    padding: 33px 20px 29px;
  }
  .eltdf-service-table table tbody tr td {
    padding: 3px 20px;
    font-size: 14px;
  }
  .eltdf-service-table table .eltdf-st-star {
    font-size: 14px;
  }
  .eltdf-service-table table .eltdf-st-item-title {
    font-size: 16px;
  }
  .eltdf-service-table table .eltdf-st-item-price {
    font-size: 34px;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-service-table table thead tr th {
    padding: 28px 10px 24px;
  }
  .eltdf-service-table table tbody tr.eltdf-st-item-button {
    display: none;
  }
  .eltdf-service-table table tbody tr td {
    padding: 2px 10px;
    font-size: 11px;
    line-height: 17px;
  }
  .eltdf-service-table table .eltdf-st-star-holder {
    display: none;
    padding-bottom: 0;
  }
  .eltdf-service-table table .eltdf-st-item-title {
    font-size: 10px;
  }
  .eltdf-service-table table .eltdf-st-item-price {
    font-size: 20px;
  }
}

/* ==========================================================================
   Service Table shortcode responsive style - begin
   ========================================================================== */
/* ==========================================================================
   Split Section responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltdf-ss-holder.eltdf-ss-break-1280.eltdf-ss-image-right .eltdf-ss-image {
    position: relative;
    left: 0;
  }
  .eltdf-ss-holder.eltdf-ss-break-1280 .eltdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }
  .eltdf-ss-holder.eltdf-ss-break-1280 .eltdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }
  .eltdf-ss-holder.eltdf-ss-break-1280 .eltdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-ss-holder.eltdf-ss-break-1024.eltdf-ss-image-right .eltdf-ss-image {
    position: relative;
    left: 0;
  }
  .eltdf-ss-holder.eltdf-ss-break-1024 .eltdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }
  .eltdf-ss-holder.eltdf-ss-break-1024 .eltdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }
  .eltdf-ss-holder.eltdf-ss-break-1024 .eltdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-ss-holder.eltdf-ss-break-768.eltdf-ss-image-right .eltdf-ss-image {
    position: relative;
    left: 0;
  }
  .eltdf-ss-holder.eltdf-ss-break-768 .eltdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }
  .eltdf-ss-holder.eltdf-ss-break-768 .eltdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }
  .eltdf-ss-holder.eltdf-ss-break-768 .eltdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-ss-holder.eltdf-ss-break-680.eltdf-ss-image-right .eltdf-ss-image {
    position: relative;
    left: 0;
  }
  .eltdf-ss-holder.eltdf-ss-break-680 .eltdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }
  .eltdf-ss-holder.eltdf-ss-break-680 .eltdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }
  .eltdf-ss-holder.eltdf-ss-break-680 .eltdf-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .eltdf-ss-holder.eltdf-ss-break-480.eltdf-ss-image-right .eltdf-ss-image {
    position: relative;
    left: 0;
  }
  .eltdf-ss-holder.eltdf-ss-break-480 .eltdf-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }
  .eltdf-ss-holder.eltdf-ss-break-480 .eltdf-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }
  .eltdf-ss-holder.eltdf-ss-break-480 .eltdf-ss-image img {
    display: block;
  }
}

/* ==========================================================================
   Split Section responsive styles - end
   ========================================================================== */
/* ==========================================================================
   Stacked Images responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 680px) {
  .eltdf-stacked-images-holder.eltdf-si-position-left .eltdf-si-images {
    margin: 0 30px 30px 0;
  }
  .eltdf-stacked-images-holder.eltdf-si-position-left .eltdf-si-images .eltdf-si-stack-image {
    left: 30px;
  }
  .eltdf-stacked-images-holder.eltdf-si-position-right .eltdf-si-images {
    margin: 0 0 30px 30px;
  }
  .eltdf-stacked-images-holder.eltdf-si-position-right .eltdf-si-images .eltdf-si-stack-image {
    right: 30px;
  }
  .eltdf-stacked-images-holder .eltdf-si-images.eltdf-appeared .eltdf-si-stack-image {
    top: 30px;
  }
  .eltdf-stacked-images-holder .eltdf-si-images .eltdf-si-stack-image {
    top: 80px;
  }
}

/* ==========================================================================
   Stacked Images responsive style - end
   ========================================================================== */
/* ==========================================================================
   Tabs shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltdf-tabs.eltdf-tabs-standard .eltdf-tabs-nav li {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-tabs.eltdf-tabs-standard .eltdf-tabs-nav li {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-tabs.eltdf-tabs-standard .eltdf-tabs-nav li {
    margin-right: 12px;
  }
  .eltdf-tabs.eltdf-tabs-vertical .eltdf-tabs-nav,
  .eltdf-tabs.eltdf-tabs-vertical .eltdf-tab-container {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .eltdf-tabs.eltdf-tabs-vertical .eltdf-tabs-nav li {
    display: block;
    width: 100%;
  }
  .eltdf-tabs.eltdf-tabs-vertical .eltdf-tab-container {
    padding: 0;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-tabs.eltdf-tabs-standard .eltdf-tabs-nav {
    width: 100%;
    border-bottom: 0;
  }
  .eltdf-tabs.eltdf-tabs-standard .eltdf-tabs-nav li {
    display: block;
    float: none;
    margin: 0;
    border-bottom: 1px solid #ebebeb;
  }
  .eltdf-tabs.eltdf-tabs-standard .eltdf-tabs-nav li a {
    padding: 10px 0 7px;
    width: 100%;
  }
}

/* ==========================================================================
   Tabs shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Vertical Split Slider shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  body.eltdf-vss-initialized {
    overflow-y: visible !important;
    height: auto !important;
  }
  .eltdf-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }
  .eltdf-vss-responsive {
    display: block;
  }
}

/* ==========================================================================
   Vertical Split Slider shortcode responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/eltdf-core/assets/css/shortcodes-map-responsive.css.map */
