/* ==========================================================================
   Process shortcode style - begin
   ========================================================================== */

.eltdf-process-holder {
	@include eltdfRelativeHolderLayout();
	
	$columns: ('two', 'three', 'four');
	@for $i from 0 to length($columns) {
		&.eltdf-#{nth($columns, $i+1)}-columns {
			$column_width: 100%/($i+2);
			
			.eltdf-process-item {
				width: $column_width;
			}
		}
	}
	
	&.eltdf-process-appeared {
		
		.eltdf-process-background {
			opacity: 1;
			@include eltdfTransform(scaleX(1));
			@include eltdfTransformOrigin(0% 50%);
		}
		
		.eltdf-process-item {
			opacity: 1;
			@include eltdfTransform(translate3d(0,-10px,0) scale(1) rotate(0));
		}
	}
	
	.eltdf-process-background {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% + 214px);
		height: 100%;
		background: url('../img/process-background-line.png') 50% 0 no-repeat;
		z-index: -1;
		opacity: 0;
		margin: 0 -107px;
		@include eltdfTransform(scaleX(0));
		@include eltdfTransformOrigin(100% 50%);
		@include eltdfTransition(transform .7s cubic-bezier(0.27, -0.22, 0.26, 1.37), opacity .15s ease-in);
	}
	
	.eltdf-process-inner {
		margin: 0 -15px;
	}
	
	.eltdf-process-item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		float: left;
		padding: 0 15px;
		opacity: 0;
		text-align: center;
		box-sizing: border-box;
		@include eltdfTransform(translate3d(0,0,0) scale(.9) rotate(10deg));
		@include eltdfTransition(transform .5s cubic-bezier(0.27, -0.22, 0.26, 1.37), opacity .2s ease-in);
		
		@for $i from 1 to 5 {
			
			&:nth-child(#{$i}) {
				-webkit-transition-delay: #{.3 * ($i - .3)}s;
				-moz-transition-delay: #{.3 * ($i - .3)}s;
				transition-delay: #{.3 * ($i - .3)}s;
			}
		}
	}
	
	.eltdf-pi-image {
		position: relative;
		display: inline-block;
		vertical-align: top;
		
		a, img {
			display: block;
		}
	}
	
	.eltdf-pi-title {
		display: block;
		margin: 30px 0 0;
	}
	
	.eltdf-pi-text {
		display: block;
		margin: 9px 0 0;
	}
}
/* ==========================================================================
   Process shortcode style - end
   ========================================================================== */