/* ==========================================================================
   Button shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: $laptop-landscape) {

	.eltdf-btn {

		&.eltdf-btn-large {
			@include eltdfButtonMediumParams();
		}
	}
}
/* ==========================================================================
   Button shortcode responsive style - end
   ========================================================================== */