/* ==========================================================================
   Banner Simple shortcode style - begin
   ========================================================================== */

.eltdf-banner-simple-holder {
    @include eltdfRelativeHolderLayout();
	padding: 22px 10px 15px;
	background-color: $first-main-color;
	border-radius: 6px;
	box-sizing: border-box;
	
	.touch & {
		cursor: pointer;
	}
	
	&:hover {
		
		.eltdf-bs-icon {
			
			img {
				@include eltdfTransform(translateY(-5px));
			}
		}
	}
	
	.eltdf-bs-icon {
		@include eltdfRelativeHolderLayout();
		margin: 0 0 10px;
		
		img {
			display: block;
			margin: 0 auto;
			@include eltdfTransform(translateY(0));
			@include eltdfTransitionTransform(.25s cubic-bezier(0.21, 0.6, 0.44, 2.18));
		}
	}
	
	.eltdf-banner-title {
		display: block;
		margin: 0;
		color: #fff;
		font-family: $default-heading-font-m;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		text-align: center;
	}
	
	.eltdf-bs-link {
		@include eltdfAbsoluteHolderLayout();
	}
}
/* ==========================================================================
   Banner Simple shortcode style - end
   ========================================================================== */