/* ==========================================================================
   Tabs shortcode responsive style - begin
   ========================================================================== */

@include laptop-landscape-medium {
	
	.eltdf-tabs {
		
		&.eltdf-tabs-standard {
			
			.eltdf-tabs-nav {
				
				li {
					margin-right: 25px;
				}
			}
		}
	}
}

@include ipad-landscape {
	
	.eltdf-tabs {
		
		&.eltdf-tabs-standard {
			
			.eltdf-tabs-nav {
				
				li {
					margin-right: 15px;
				}
			}
		}
	}
}

@include ipad-portrait {
	
	.eltdf-tabs {
		
		&.eltdf-tabs-standard {
			
			.eltdf-tabs-nav {
				
				li {
					margin-right: 12px;
				}
			}
		}
		
		&.eltdf-tabs-vertical {
			
			.eltdf-tabs-nav,
			.eltdf-tab-container {
				display: inline-block;
				width: 100%;
				height: auto;
			}
			
			.eltdf-tabs-nav {
				
				li {
					display: block;
					width: 100%;
				}
			}
			
			.eltdf-tab-container {
				padding: 0;
				margin-top: 50px;
			}
		}
	}
}

@include phone-landscape {
	
	.eltdf-tabs {
		
		&.eltdf-tabs-standard {
			
			.eltdf-tabs-nav {
				width: 100%;
				border-bottom: 0;
				
				li {
					display: block;
					float: none;
					margin: 0;
					border-bottom: 1px solid $default-border-color;
					
					a {
						padding: 10px 0 7px;
						width: 100%;
					}
				}
			}
		}
	}
}
/* ==========================================================================
   Tabs shortcode responsive style - end
   ========================================================================== */