/* ==========================================================================
   Image Gallery shortcode style - begin
   ========================================================================== */

.eltdf-image-gallery {
	@include eltdfRelativeHolderLayout();
	
	&.eltdf-has-shadow {
	
		.eltdf-ig-image-inner {
			box-shadow: $default-box-shadow;
		}
		
		&.eltdf-ig-slider-type,
		&.eltdf-ig-carousel-type {
			
			.owl-stage-outer {
				padding: 0 0 20px;
			}
			
			.eltdf-ig-image {
				box-shadow: $default-box-shadow;
			}
		}
	}
	
	.eltdf-ig-image {
		@include eltdfRelativeHolderLayout();
		box-sizing: border-box;
		
		a, img {
			position: relative;
			display: block;
		}
	}
	
	.eltdf-ig-image-inner {
		@include eltdfRelativeHolderLayout();
	}
	
	.eltdf-ig-slider {
		@include eltdfRelativeHolderLayout();

		.owl-stage {
			padding-top: 20px;
		}

		.owl-nav {

			.owl-prev {
				border-radius: 0 100px 100px 0;
				@include eltdfTransition(left .3s cubic-bezier(.21,.6,.44,2.18), color .2s ease-out,background-color .2s ease-out);

				> span {
					padding-left: 33px;
				}

				&:hover {
					left: 30px !important;
				}
			}

			.owl-next {
				border-radius: 100px 0 0 100px;
				@include eltdfTransition(right .3s cubic-bezier(.21,.6,.44,2.18), color .2s ease-out,background-color .2s ease-out);

				> span {
					padding-right: 33px;
				}

				&:hover {
					right: 30px !important;
				}
			}
		}
	}
	
	/***** Image Gallery Grid Style - begin *****/
	
	.eltdf-ig-grid {
		
		.eltdf-ig-image {
			float: left;
		}
		
		$gallery_columns: ('two', 'three', 'four', 'five', 'six');
		@for $i from 0 to length($gallery_columns) {
			&.eltdf-ig-#{nth($gallery_columns, $i+1)}-columns {
				$column_width: 100%/($i+2);
				
				.eltdf-ig-image {
					width: $column_width;
					
					@media only screen and (min-width: $ipad-landscape-plus-pixel) {
						
						&:nth-child(#{$i+2}n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
	
	/***** Image Gallery Grid Style - end *****/
	
	/***** Image Gallery Masonry Style - begin *****/
	
	.eltdf-ig-masonry {
		opacity: 0;
		@include eltdfTransition(opacity .2s ease-out);
		
		.eltdf-ig-grid-sizer {
			width: 100%;
		}
		
		.eltdf-ig-grid-gutter {
			width: 0;
		}
		
		$masonry_columns: ('two', 'three', 'four', 'five', 'six');
		
		@for $i from 0 to length($masonry_columns) {
			&.eltdf-ig-#{nth($masonry_columns,$i+1)}-columns {
				$column_width: 100%/($i+2);
				
				.eltdf-ig-image,
				.eltdf-ig-grid-sizer {
					width: $column_width;
				}
				
				.eltdf-ig-image.eltdf-large-masonry-item {
					width: $column_width * 2;
				}
			}
		}
	}
	
	/***** Image Gallery Masonry Style - end *****/
	
	/***** Custom Link Behavior Style - begin *****/
	
	&.eltdf-image-behavior-custom-link {
		
		.eltdf-ig-image {
			
			a {
				@include eltdfTransform(translate3d(0,0,0));
				@include eltdfTransitionTransform(.3s cubic-bezier(.21,.6,.44,2.18));

				&:hover {
					@include eltdfTransform(translate3d(0,-10px,0));
				}
			}
		}
	}
	
	/***** Custom Link Behavior Style - end *****/
	
	/***** Lightbox Behavior Style - begin *****/
	
	&.eltdf-image-behavior-lightbox {
		
		.eltdf-ig-image {
			
			a {
				&:after {
					@include eltdfAbsoluteHolderLayout();
					content: '';
					background-color: rgba(0,0,0,.1);
					opacity: 0;
					@include eltdfTransition(opacity .2s ease-in-out);
				}

				&:hover {

					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
	
	/***** Lightbox Behavior Style - end *****/
	
	/***** Zoom Behavior Style - begin *****/
	
	&.eltdf-image-behavior-zoom {
		
		.eltdf-ig-image {
			
			.touch & {
				cursor: pointer;
			}
			
			&:hover {
				
				img {
					@include eltdfTransform(scale(1.04));
				}
			}
			
			.eltdf-ig-image-inner {
				overflow: hidden;
			}
			
			img {
				@include eltdfTransform(scale(1));
				@include eltdfTransitionTransform(.3s ease-in-out);
			}
		}
	}
	
	/***** Zoom Behavior Style - end *****/
	
	/***** Grayscale Behavior Style - begin *****/
	
	&.eltdf-image-behavior-grayscale {
		
		.eltdf-ig-image {
			overflow: hidden;
			
			.touch & {
				cursor: pointer;
			}
			
			&:hover {
				
				img {
					-webkit-filter: grayscale(0);
					filter: none;
				}
			}
			
			img {
				filter: url('img/desaturate.svg#grayscale');
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				filter: gray;
				filter: grayscale(100%);
				@include eltdfTransition(all .3s ease-in-out);
			}
		}
	}
	
	/***** Grayscale Behavior Style - end *****/
}
/* ==========================================================================
   Image Gallery shortcode style - end
   ========================================================================== */