/* ==========================================================================
   Social Share shortcode style - begin
   ========================================================================== */

.eltdf-social-share-holder {
    position: relative;
    display: inline-block;
    vertical-align: top;

    ul {
        position: relative;
        display: inline-block;
        vertical-align: top;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

/* List type - begin
========================================================================== */
.eltdf-social-share-holder.eltdf-list {

    .eltdf-social-title {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        color: $default-text-color;
        font-weight: 600;
    }

    li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: 0 13px 3px 0;
        line-height: 1;
    
        &:last-child {
            margin: 0 0 3px;
        }
    
        a {
            font-size: 17px;
            line-height: 1;
	        opacity: 1;
	        @include eltdfTransition(opacity .2s ease-out);
	
	        &:hover {
		        opacity: .85;
	        }
        }
    
        &.eltdf-facebook-share {
            
            a {
                color: #3b5998;
            }
        }
    
        &.eltdf-twitter-share {
            
            a {
                color: #55acee;
            }
        }
    
        &.eltdf-google_plus-share {
            
            a {
                color: #dc4e41;
            }
        }
    
        &.eltdf-linkedin-share {
            
            a {
                color: #007bb5;
            }
        }
    
        &.eltdf-tumblr-share {
            
            a {
                color: #3a485d;
            }
        }
    
        &.eltdf-pinterest-share {
            
            a {
                color: #bd081b;
            }
        }
    
        &.eltdf-vk-share {
            
            a {
                color: #000;
            }
        }
    }
}

/* List type - end
========================================================================== */

/* Dropdown type - begin
========================================================================== */

$socialShareWidth: 88px;
$socialShareHeight: 28px;

.eltdf-social-share-holder.eltdf-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: bottom;

    .eltdf-social-share-dropdown-opener {
        display: block;
        color: $default-text-color;
		line-height: 19px;

        .eltdf-social-share-title {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 4px;
        }

        .social_share {
			vertical-align: middle;
            font-size: 12px;
            color: $default-heading-color;
        }

        &:hover {
            color: $first-main-color;

            .social_share {
                color: inherit;
            }
        }
    }

    
    .eltdf-social-share-dropdown {
        position: relative;
        visibility: hidden;
        z-index: 950;

        ul {
            position: relative;
            display: block;
            z-index: 990;
            margin: 0;
            padding: 0 !important;
        }

        ul li {
            width: $socialShareWidth;
            height: $socialShareHeight;
            line-height: $socialShareHeight;
            visibility: hidden;
            position: absolute;
            text-align: center;
            opacity: 0;
            margin: 0;
            padding: 0;
			color: $default-text-color;
			font-family: $default-heading-font-m;
			font-size: 12px;
			font-weight: 700;
            box-sizing: border-box;
            @include eltdfTransition( opacity .2s ease-out 0s, visibility .2s ease-out 0s, color .2s ease-out 0s);
	
	        &:not(:first-child) {
		        border-top: none;
	        }

            &.eltdf-facebook-share:hover {
                color: #3b5998;
            }

            &.eltdf-twitter-share:hover {
                color: #00aced;
            }

            &.eltdf-google_plus-share:hover {
                color: #dd4b39;
            }

            &.eltdf-linkedin-share:hover {
                color: #007bb5;
            }

            &.eltdf-tumblr-share:hover {
                color: #32506d;
            }

            &.eltdf-pinterest-share:hover {
                color: #cb2027;
            }

            &.eltdf-vk-share:hover {
                color: #45668e;
            }
            
            * {
                display: block;
                line-height: inherit;
            }

            a {
                color: inherit !important;
            }

            @for $i from 1 through 7 {
                &:nth-child(#{$i}) {
                    bottom: #{-$i*(($socialShareHeight))};
                }
            }
        }
    }
}

.eltdf-social-share-holder.eltdf-dropdown:hover {

    .eltdf-social-share-dropdown ul li {
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }

    .eltdf-social-share-dropdown ul li {

        /* opacity and visibility need to be different, but not background-color */
        @for $i from 2 through 7 {
            &:nth-child(#{$i}) {
                @include eltdfTransition( opacity .2s ease-out #{($i)/10+s}, visibility .2s ease-out #{($i)/10+s}, background-color .2s ease-out);
            }
        }
    }
}

/* Dropdown type - end
========================================================================== */

/* ==========================================================================
   Social Share shortcode style - end
   ========================================================================== */