/* ==========================================================================
   Testimonials boxed style - begin
   ========================================================================== */

.eltdf-testimonials-holder {
    
    &.eltdf-testimonials-boxed {
	    text-align: center;
	    
        .owl-item {
            padding: 2px;
	        box-sizing: border-box;
        }
	
	    .eltdf-testimonial-image {
		
		    img {
			    margin: 0 auto;
		    }
	    }

        .eltdf-testimonial-content {
            padding: 50px 30px 59px;
	        margin: 0 0 37px;
            background-color: #fff;
            border-radius: 6px;
            box-shadow: $box-shadow-variable;
            box-sizing: border-box;
        }
    
        .eltdf-testimonial-text {
            margin-top: 37px;
	        font-size: 22px;
	        color: #595959;
        }
    
        .eltdf-testimonial-author {
            margin-top: 34px;
        }
    
        .eltdf-testimonials-author-job {
            margin-top: 8px;
        }
	    
	    .eltdf-testimonials-mark {
		    position: absolute;
		    left: calc(50% - 37px);
		    bottom: -37px;
		    width: 74px;
		    height: 74px;
		    font-size: 72px;
		    line-height: 102px;
		    text-align: center;
		    color: #fff;
		    background-color: $first-main-color;
		    border-radius: 50px;
			@include eltdfTransition(border-radius .4s cubic-bezier(.27,-.22,.26,1.37));
		    
		    &:before {
			    content: '“';
			    display: block;
			    line-height: inherit;
		    }

			&:hover {
				border-radius: 6px;
			}
	    }
	
	    .owl-dots {
		    margin-top: 41px;
	    }
    }
}
/* ==========================================================================
   Testimonials boxed style - end
   ========================================================================== */

