/* ==========================================================================
   Masonry Elements Holder shortcode responsive style - begin
   ========================================================================== */

@include laptop-landscape-large {
	
	.eltdf-masonry-elements-holder {
		
		.eltdf-masonry-elements-item {
			width: 33.33333% !important;
			
			&.eltdf-large-width,
			&.eltdf-large-width-height {
				width: 66.66666666666667% !important;
			}
		}
		
		.eltdf-masonry-elements-grid-sizer {
			width: 33.33333% !important;
		}
	}
}

@include ipad-landscape {

	.eltdf-masonry-elements-holder {

		.eltdf-masonry-elements-item {
			width: 50% !important;

			&.eltdf-large-width,
			&.eltdf-large-width-height {
				width: 100% !important;
			}
		}

		.eltdf-masonry-elements-grid-sizer {
			width: 50% !important;
		}
	}
}

@include phone-landscape {

	.eltdf-masonry-elements-holder {

		.eltdf-masonry-elements-item {
			width: 100% !important;

			&.eltdf-large-width,
			&.eltdf-large-width-height {
				width: 100% !important;
			}
		}

		.eltdf-masonry-elements-grid-sizer {
			width: 100% !important;
		}
	}
}
/* ==========================================================================
   Masonry lements Holder shortcode responsive style - end
   ========================================================================== */