/* ==========================================================================
   Testimonials shortcode style - begin
   ========================================================================== */

.eltdf-testimonials-holder {
    @include eltdfRelativeHolderLayout();
    
    /* Light/Dark styles */
    &.eltdf-testimonials-light {
        
        .eltdf-testimonial-text,
        .eltdf-testimonial-author,
        .eltdf-testimonials-author-job {
            color: #fff;
        }
    }
	
	&.eltdf-testimonials-nav-light {
		
		.eltdf-owl-slider {
			
			.owl-nav {
				
				.owl-next,
				.owl-prev {
					color: rgba(#fff, .5);
					
					&:hover {
						color: #fff;
					}
				}
			}
		}
		
		.owl-dots {
			
			.owl-dot {
				
				span {
					background-color: rgba(#fff, .5);
				}
				
				&:hover,
				&.active {
					
					span {
						background-color: #fff;
					}
				}
			}
		}
	}
    
    .eltdf-testimonials,
    .eltdf-testimonial-content,
    .eltdf-testimonial-content-inner {
        @include eltdfRelativeHolderLayout();
    }

    .eltdf-testimonial-image {
        @include eltdfRelativeHolderLayout();
        
        img {
            display: block;
            width: auto !important;
        }
    }
	
	.eltdf-testimonial-text,
	.eltdf-testimonial-author,
	.eltdf-testimonials-author-job {
		margin: 0;
	}
	
	.eltdf-owl-slider {
		
		.owl-nav {
			
			.owl-prev {
				left: -30px;
			}
			
			.owl-next {
				right: -30px;
			}
		}
	}
}
/* ==========================================================================
   Testimonials shortcode style - end
   ========================================================================== */