/* ==========================================================================
   Global partials
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   Shortcodes styles
   ========================================================================== */
.eltdf-twitter-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.eltdf-twitter-list-holder:not(.eltdf-tl-one-column) .eltdf-tl-item {
  float: left;
}

.eltdf-twitter-list-holder .eltdf-twitter-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.eltdf-twitter-list-holder .eltdf-tl-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0.3s cubic-bezier(0.34, 0.52, 0.57, 1.04);
  -moz-transition: transform 0.3s cubic-bezier(0.34, 0.52, 0.57, 1.04);
  transition: transform 0.3s cubic-bezier(0.34, 0.52, 0.57, 1.04);
}

.eltdf-twitter-list-holder .eltdf-tl-item:hover {
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

.eltdf-twitter-list-holder .eltdf-tli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 20px 22px 39px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.eltdf-twitter-list-holder .eltdf-tli-inner:hover {
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.15);
}

.eltdf-twitter-list-holder .eltdf-twitter-content-top {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-twitter-list-holder .eltdf-twitter-content-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 25px;
}

.eltdf-twitter-list-holder .eltdf-twitter-link-over {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.eltdf-twitter-list-holder .eltdf-twitter-user {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding-right: 30px;
  box-sizing: border-box;
}

.eltdf-twitter-list-holder .eltdf-twitter-image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 65px;
  height: 65px;
}

.eltdf-twitter-list-holder .eltdf-twitter-image img {
  display: block;
  border-radius: 100%;
}

.eltdf-twitter-list-holder .eltdf-twitter-name {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  width: calc(100% - 65px);
  padding-left: 15px;
  box-sizing: border-box;
}

.eltdf-twitter-list-holder .eltdf-twitter-name * {
  margin: 0;
}

.eltdf-twitter-list-holder .eltdf-twitter-profile,
.eltdf-twitter-list-holder .eltdf-tweet-text a {
  position: relative;
  color: #808080;
  z-index: 2;
}

.eltdf-twitter-list-holder .eltdf-twitter-profile:hover,
.eltdf-twitter-list-holder .eltdf-tweet-text a:hover {
  color: #42495b;
}

.eltdf-twitter-list-holder .eltdf-twitter-icon {
  position: absolute;
  top: 6px;
  right: 0;
  display: inline-block;
  vertical-align: top;
  color: #40c4ff;
  font-size: 24px;
  text-align: right;
}

.eltdf-twitter-list-holder.eltdf-tl-two-columns .eltdf-tl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .eltdf-twitter-list-holder.eltdf-tl-two-columns .eltdf-tl-item:nth-child(2n+1) {
    clear: both;
  }
}

.eltdf-twitter-list-holder.eltdf-tl-three-columns .eltdf-tl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1201px) {
  .eltdf-twitter-list-holder.eltdf-tl-three-columns .eltdf-tl-item:nth-child(3n+1) {
    clear: both;
  }
}

.eltdf-twitter-list-holder.eltdf-tl-four-columns .eltdf-tl-item {
  width: 25%;
}

@media only screen and (min-width: 1281px) {
  .eltdf-twitter-list-holder.eltdf-tl-four-columns .eltdf-tl-item:nth-child(4n+1) {
    clear: both;
  }
}

.eltdf-twitter-list-holder.eltdf-tl-five-columns .eltdf-tl-item {
  width: 20%;
}

@media only screen and (min-width: 1281px) {
  .eltdf-twitter-list-holder.eltdf-tl-five-columns .eltdf-tl-item:nth-child(5n+1) {
    clear: both;
  }
}

/*# sourceMappingURL=../../../../plugins/eltdf-twitter-feed/assets/css/shortcodes-map.css.map */
