/* ==========================================================================
   Masonry Elements Holder shortcode style - begin
   ========================================================================== */

.eltdf-masonry-elements-holder {
	@include eltdfRelativeHolderLayout();
	opacity: 0;
	@include eltdfTransition(opacity 0.3s ease);

	&.eltdf-appeared {
		opacity: 1;
	}

	.eltdf-masonry-elements-item {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		box-sizing: border-box;

		.eltdf-masonry-elements-item-inner-helper {
			position:relative;
			width: 100%;
			height: 100%;
		}

		.eltdf-masonry-elements-item-inner-tb {
			display: table;
			height: 100%;
			width: 100%;

			.eltdf-masonry-elements-item-inner-tc {
				display: table-cell;
				padding: 15px 39px 42px 39px;
			}
		}

		&:hover {
			.eltdf-masonry-elements-item-background {
				@include eltdfTransform(scale(1.02));
			}
		}
	}

	.eltdf-masonry-elements-item-inner {
		height: 100%;
		width: 100.1%;
		box-sizing: border-box;
		position:relative;
		overflow:hidden;
	}

	.eltdf-masonry-elements-item {
		width: 33.3333%;

		&.eltdf-large-width,
		&.eltdf-large-width-height {
			width: 66.6666%;
		}
	}

	.eltdf-masonry-elements-item-background {
		@include eltdfAbsoluteHolderLayout();
		background-size: cover;
		@include eltdfTransform(scale(1));
		@include eltdfTransitionTransform(.2s ease-in-out);
	}

	&.eltdf-masonry-two-columns {

		.eltdf-masonry-elements-item {
			width: 50%;

			&.eltdf-large-width,
			&.eltdf-large-width-height {
				width: 50%;
			}
		}

		.eltdf-masonry-elements-grid-sizer {
			width: 25%;
		}
	}

	&.eltdf-masonry-four-columns {

		.eltdf-masonry-elements-item {
			width: 25%;

			&.eltdf-large-width, &.eltdf-large-width-height {
				width: 50%;
			}
		}
	}

	.eltdf-masonry-elements-grid-sizer {
		width: 33.3333%;
	}

	&.eltdf-masonry-four-columns {

		.eltdf-masonry-elements-grid-sizer {
			width: 25%;
		}
	}
}
/* ==========================================================================
   Masonry Elements Holder shortcode style - end
   ========================================================================== */