/* ==========================================================================
   Banner shortcode responsive style - begin
   ========================================================================== */

.eltdf-banner-holder {
	
	@include laptop-landscape-medium {
		
		&.eltdf-banner-has-icon {
			
			.eltdf-banner-content {
				padding-left: 90px;
				
				.eltdf-banner-link {
					left: 90px;
					width: calc(100% - 90px);
				}
			}
		}
		
		.eltdf-banner-text-holder {
			padding: 46px 35px 60px;
		}
		
		.eltdf-banner-icon {
			width: 60px;
		}
		
		.eltdf-banner-content {
			
			.eltdf-banner-text {
				margin: 15px 0 0;
			}
		}
	}
	
	@include ipad-landscape {
		
		&.eltdf-banner-has-icon {
			
			.eltdf-banner-content {
				padding-left: 0;
				
				.eltdf-banner-link {
					left: 0;
					width: 100%;
				}
			}
		}
		
		.eltdf-banner-icon {
			display: none;
		}
	}
}
/* ==========================================================================
   Banner shortcode responsive style - end
   ========================================================================== */