/* ==========================================================================
   Video Button shortcode start styles
   ========================================================================== */

.eltdf-video-button-holder {
	@include eltdfRelativeHolderLayout();
	
	&.eltdf-vb-has-img {
		
		.eltdf-video-button-play,
		.eltdf-video-button-play-image {
			@include eltdfAbsoluteHolderLayout();
			z-index: 1;
			
			.eltdf-video-button-play-inner {
				position: relative;
				top: 50%;
				left: 0;
				display: block;
				text-align: center;
				@include eltdfTransform(translateY(-50%));
			}
		}
	}
	
	.eltdf-video-button-image {
		@include eltdfRelativeHolderLayout();
		
		img {
			display: block;
		}
	}
	
	.eltdf-video-button-play,
	.eltdf-video-button-play-image {
		position: relative;
		display: inline-block;
		vertical-align: top;
		z-index: 1;
	}
	
	.eltdf-video-button-play {
		font-size: 90px;
		line-height: 1;
		
		span {
			display: block;
			line-height: inherit;
			
			&:before {
				display: block;
				line-height: inherit;
			}
		}
	}
	
	.eltdf-video-button-play-image {
		
		&.eltdf-vb-has-hover-image {
			
			&:hover {
				
				img {
					
					&:first-child {
						opacity: 0;
					}
				}
			}
		}
		
		img {
			display: block;
			margin: 0 auto;
			@include eltdfTransition(opacity .3s ease-in-out);
			
			&:first-child {
				position: relative;
				opacity: 1;
			}
			
			&:nth-child(2) {
				position: absolute;
				top: 0;
				left: 50%;
				z-index: -1;
				@include eltdfTransform(translateX(-50%) translateZ(0));
				
				.rev_slider_wrapper & {
					@include eltdfTransform(translateZ(0));
				}
			}
		}
	}
}
/* ==========================================================================
   Video Button shortcode end styles
   ========================================================================== */