.middle_content{position: relative;}
	  .level_detail_wrap .middle_content{width:80%;margin:20px auto 20px;}
	.arrow-left.left {
	    position: absolute;
	    left: -50px;
	    font-size: 24px;
	    top: 45%;
	    color: #274f59;transition: all 0.3s ease-in;
	    text-align: center;
	    width: 40px;
	    line-height: 40px;
	    height: 40px;
	    border-radius: 50%;
	    border:2px solid #274f59;z-index: 100;
    cursor: pointer;
	}
.level_detail_wrap .middle_content .ans.multi_word p {
    font-size: 40px;
}
.level_detail_wrap .middle_content .ans p.fill_blank_cs{
	font-size: 40px;
	font-weight: bold;
}
.level_detail_wrap .middle_content .ans p.rythm_task_pulse {
    font-size: 40px;
}
.level_detail_wrap .middle_content .ans p {
    font-size: 80px ;
    letter-spacing: 3px;
}
.arrow-left.right {
    position: absolute;
    right: -50px;
    font-size: 24px;z-index: 100;
    cursor: pointer;
    top: 45%;
    color: #274f59;transition: all 0.3s ease-in;
    text-align: center;
    width: 40px;
    line-height: 40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid  #274f59;
}.arrow-left.right:hover, .arrow-left.left:hover{background:#274f59; color:#fff;}
.middle_content2 .arrow-left.left {
	left: -50px;
	}
	.middle_content2 .arrow-left.right  {
	right: -50px;
	}
.level_detail_wrap .middle_content2{
  position: relative;
    width: 400px;
    height: 400px;
    min-height: 100%;
    margin: 20px auto;
  background:#fff !important;
    background-image: url('/public/frontend/images/others/round6.png') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center;
    border:none !important;
}
.level_detail_wrap .middle_content2 .ques_box{text-align: center;
    position: relative;
    top: 15%;}
.msg.ques_panel{
margin-top:10px;
    }
.middle_content2 .msg.ques_panel{
margin-top:50px;text-align: center;
    }
.middle_content2 .msg.ques_panel img{max-width:70px;}
    .level_detail_wrap .middle_content2 .ans p, .level_detail_wrap .middle_content2 .middle_foot a{  color: #264e58; }
}
.level_detail_wrap .bottom_btn{margin-top:0px;}
.level_detail_wrap .middle_content .ans p{}.level_detail_wrap .middle_content2 .ans p{font-size: 110px;}.level_detail_wrap{padding:20px 30px;}
@media (max-width:1240px){
	.level_detail_wrap .middle_content .ans p.levl-sm{font-size: 30px !important;    word-break: break-all;}
	.level_detail_wrap .middle_content .ans.multi_word p{font-size: 22px;}
	.level_detail_wrap .middle_content .ans p.fill_blank_cs, .level_detail_wrap .middle_content .ans p.rythm_task_pulse {font-size: 20px;    font-weight: bold ;}
	.highlight_first a, .highlight_first p{letter-spacing: 4px !important;}
	.content, .content_right {width:175px !important;height:175px !important;}
}


@media (max-width:992px) and (min-width:767px){
    .level_detail_wrap .middle_content .ans .single2{
        width:100%;
    }.middle_content .single p.sm-font {
    font-size: 28px !important;line-height: 30px;
}
.level_detail_wrap .middle_content .ans p.levl-sm{font-size: 30px !important;    word-break: break-all;}
.level_detail_wrap .middle_content .ans.multi_word p{font-size: 23px;}
.level_detail_wrap .middle_content .ans p.fill_blank_cs, .level_detail_wrap .middle_content .ans p.rythm_task_pulse {font-size: 26px !important;    font-weight: bold ;}
.update_blank_space p{font-size: 26px !important;}  .highlight_first a, .highlight_first p{letter-spacing: 4px !important;}
.content, .content_right {width:175px !important;height:175px !important;}


}

@media (max-width:690px){
	.level_detail_wrap .middle_content .ans p, .level_detail_wrap .middle_content2 .middle_foot a {
    color: #264e58;
    font-size: 14px !important;
}
.level_detail_wrap .middle_content .ans .single2 a.rythmtask {
    margin-right: 8px;
}

}

@media (max-width:475px){
	.level_detail_wrap .middle_content .ans .single2 a.rythmtask {
    margin-right: 2px;
    }
    .level_detail_wrap .middle_content .ans p, .level_detail_wrap .middle_content2 .middle_foot a {
    color: #264e58;
    font-size: 12px !important;
    letter-spacing: 1px;
}
}
@media (max-width:400px){
	.level_detail_wrap .middle_content .ans .single2 a.rythmtask {
    margin-right: 2px;
    }
    .level_detail_wrap .middle_content .ans p, .level_detail_wrap .middle_content2 .middle_foot a {
    color: #264e58;
    font-size: 12px !important;
    letter-spacing: 1px;
}
.level_detail_wrap .middle_content {
    width: 100%;
    margin: 20px auto 20px;
}
.arrow-left.right {
    position: absolute;
    right: -43px;
    border: 0px solid #274f59;
}
}


@media (max-width:767px){
  .level_detail_wrap .middle_content2{
  width: 320px;
    height: 320px;
}
.level_detail_wrap .middle_content2 .bottom_btn{
	margin-top:30px;
}
.level_detail_wrap .middle_content2 .ans p{
	font-size:80px !important;
}
.level_detail_wrap .middle_content .ans p, 
.level_detail_wrap .middle_content2 .middle_foot a {
    color: #264e58;
    font-size: 19px;
}
.middle_content2 .arrow-left.right{right:-40px;}
.middle_content2 .arrow-left.left {
    left: -40px;
}.level_detail_wrap .middle_content .ans p, .level_detail_wrap .middle_content2 .middle_foot a {
    color: #264e58;
}.middle_content .single p{}
.middle_content2 .msg.ques_panel {
    margin-top: 50px;
}.level_detail_wrap .bottom_btn a{padding:6px 8px;margin: 0px 5px;}
.level_detail_wrap .middle_content .ans p.levl-sm{font-size: 30px !important;    word-break: break-all;}
.middle_content .single p.sm-font {
    font-size: 28px !important;line-height: 30px;
}.highlight_first a, .highlight_first p{letter-spacing: 4px !important;}
}
@media (max-width:420px){
  .level_detail_wrap .middle_content2{
   width: 180px;
    height: 180px;
}
.level_detail_wrap .middle_content2 .bottom_btn{
	margin-top:15px;
}
.level_detail_wrap .middle_content2 .ans p{
	font-size:60px !important;
}  
.level_detail_wrap .middle_content2 .ques_box{top:0%;}
.middle_content2 .msg.ques_panel{margin-top:20px;}
.msg.ques_panel h3{font-size:20px;}
.middle_content .single p.sm-font {
    font-size: 16px !important;
}.level_detail_wrap .bottom_btn{margin-top:0px;}
.level_detail_wrap .middle_content .ans p.levl-sm{font-size: 30px !important;    word-break: break-all;}
}