/* ==========================================================================
   Elated Membership Plugin Style - begin
   ========================================================================== */

.eltdf-modal-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1002;

    .eltdf-modal-content {
        position: absolute;
        top: calc(50% + 20px);
        left: 0;
        right: 0;
        margin: 0 auto;
	    width: 404px;
	    color: #fff;
	    background-color: $aditional-blue-color;
	    border-radius: 6px;
	    box-sizing: border-box;
	    @include eltdfTransform(translateY(-50%) translateZ(0));

        .eltdf-modal-content-inner {
            padding: 49px 30px 20px;
	        
	        &.eltdf-register-content-inner {
		        margin-top: 1px;
	        }
	        
	        @include laptop-landscape-medium {
		        padding: 39px 25px 20px;
	        }

            h3 {
	            margin: 8px 0 13px;
	            color: #fff;
	            text-align: center;
            }
        }
	    
	    .eltdf-wp-login-icon {
		    position: absolute;
		    top: -42px;
		    left: calc(50% - 42px);
		    width: 84px;
		    height: 84px;
		    font-size: 30px;
		    line-height: 84px;
		    text-align: center;
		    color: #fff;
		    background-color: $first-main-color;
		    border-radius: 100%;
		    
		    @include laptop-landscape-medium {
			    top: -37px;
			    left: calc(50% - 37px);
			    width: 74px;
			    height: 74px;
			    font-size: 28px;
			    line-height: 74px;
		    }
	    }
	
	    fieldset {
		    
		    > div {
			    @include eltdfRelativeHolderLayout();
			    
			    &:not(.eltdf-register-button-holder):not(.eltdf-lost-pass-remember-holder):not(.eltdf-login-button-holder):not(.eltdf-register-link-holder) {
				    margin-bottom: 12px;
				    border-bottom: 1px solid #fff;
			    }
		    }
	    }
	
	    input[type="checkbox"],
        .eltdf-checbox-label,
        .eltdf-lost-pass-holder a {
            vertical-align: middle;
        }
	
	    label {
		    font-family: $default-heading-font-m;
		    font-size: 12px;
		    line-height: 18px;
		    font-weight: 400;
	    }
	
	    input[type="text"],
	    input[type="email"],
	    input[type="password"] {
		    position: relative;
		    width: 100%;
		    margin: 0;
		    padding: 11px 16px;
		    font-family: $default-heading-font-m;
		    font-size: 12px;
		    line-height: 20px;
		    font-weight: inherit;
		    color: #fff;
		    background-color: transparent;
		    border: 0;
		    outline: 0;
		    -webkit-appearance: none;
		    box-sizing: border-box;
		    @include eltdfTransform(translateZ(0));
		
		    @include eltdfPlaceholder {
			    color: inherit;
		    }
	    }
	
	    .eltdf-remember-holder,
	    .eltdf-lost-pass-holder {
		    display: inline-block;
		    width: 50%;
		    margin-top: 2px;
	    }
	
	    .eltdf-lost-pass-holder {
		    float: right;
		    text-align: right;
		
		    a {
			    font-family: $default-heading-font-m;
			    font-size: 12px;
			    line-height: 18px;
			    font-weight: 400;
			    color: #fff;
			    text-decoration: underline;
			
			    &:hover {
				    text-decoration: none;
			    }
		    }
	    }
	
	    .eltdf-register-link-holder {
		    font-family: $default-heading-font-m;
		    font-size: 12px;
		    line-height: 18px;
		    font-weight: 400;
		    
		    a {
			    color: #fff;
				text-decoration: underline;
			    
			    &:hover {
				    text-decoration: none;
			    }
		    }
	    }
	    
        .eltdf-login-button-holder,
        .eltdf-register-button-holder,
        .eltdf-reset-password-button-holder,
        .eltdf-register-notice {

            button {
                margin: 25px 0 14px;
	            font-size: 14px;
            }
        }

		.eltdf-login-button-holder {
			
			button {
				color: $first-main-color;
				background-color: #fff;
				border: none;

				.eltdf-btn-hover-item {
					background-color: #f6f6f6 !important;
				}

				&:hover {
					color: $first-main-color !important;
					background-color: #fff !important;

				}
			}
		}
	
	    .eltdf-login-social-title {
		    text-align: center;
		    margin: 15px 0;
		
		    span {
			    font-size: 14px;
			    font-family: $default-heading-font-m;
			    font-weight: 400;
			    color: #fff;
			    display: inline-block;
			    position: relative;
			    line-height: 1em;
			
			    &:before,
			    &:after {
				    content: "";
				    position: absolute;
				    height: 1px;
				    background: #eaeaea;
				    top: 8px;
				    width: 90px;
			    }
			    &:before {
				    right: 100%;
				    margin-right: 25px;
			    }
			    &:after {
				    left: 100%;
				    margin-left: 25px;
			    }
		    }
	    }

        .eltdf-login-social-networks {
            text-align: center;

            .eltdf-facebook-login-holder,
            .eltdf-google-login-holder {
                display: inline-block;
            }

            button {
                width: 40px;
                height: 40px;
                line-height: 34px;
                padding: 0;
                border-radius: 50%;
                display: inline-block;
                margin: 0 5px;

                > i {
                    margin: 0;
                    font-size: 18px;
                }

                .eltdf-btn-text {
                    display: none;
                }
            }
        }

        .eltdf-login-social-info {
	        font-family: $default-heading-font-m;
            font-size: 12px;
            color: #fff;
            text-align: center;
            margin: 13px 0 10px;
        }
	
	    .eltdf-register-notice {
		
		    p {
			    color: #fff;
			    text-align: center;
		    }
	    }
	
	    .eltdf-membership-response-holder {
		
		    .eltdf-membership-response {
			
			    &.eltdf-membership-message-succes {
				    color: #fff;
			    }
		    }
	    }
    }
}

.eltdf-membership-main-wrapper {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        position: relative;
        width: 100%;
        margin: 0 0 12px;
        padding: 12px 20px;
        font-family: inherit;
        font-size: 12px;
        line-height: 18px;
        font-weight: inherit;
        color: $default-text-color;
        background-color: transparent;
        border: 1px solid $default-border-color;
        outline: 0;
        -webkit-appearance: none;
        box-sizing: border-box;

        &:focus {
            border-color: $default-heading-color;
        }

        @include eltdfPlaceholder {
            color: $default-text-color;
        }
    }
}

.eltdf-membership-response-holder {
	
	.eltdf-membership-response {
		display: block;
		text-align: center;
		margin: 14px 0 0;
		font-family: $default-heading-font-m;
		font-size: 12px;
		font-weight: 400;

		&.eltdf-membership-message-succes {
			color: $default-text-color;
		}

		&.eltdf-membership-message-error {
			color: #ff3d27;
		}
	}
}

/* ==========================================================================
   Elated Membership Plugin Style - end
   ========================================================================== */