.eltdf-login-register-content {
    
    .eltdf-social-login-holder-outer {
        @include eltdfTableLayout();
    }
    
    .eltdf-social-login-holder-inner,
    .eltdf-login-form-social-login {
        @include eltdfTableCellLayout();
        width: 50%;
    }
    
    .eltdf-lost-pass-remember-holder {
        
        .eltdf-remember-holder,
        .eltdf-lost-pass-holder {
            width: 50%;
            display: inline-block;
        }

        .eltdf-lost-pass-holder {
            float: right;
            text-align: right;
            
            a {
                font-size: 12px;
                color: $first-main-color;
                font-weight: 600;
            }
        }
    }

    .eltdf-register-link-holder {
        font-size: 12px;
        font-weight: 600;
        color:#353535;
        
        .eltdf-modal-opener {
            color: $first-main-color;
        }
    }

    .eltdf-social-login-holder-inner {
        padding-right: 15%;
        border-right: 1px solid #dadada;
    }

    .eltdf-login-form {
        
        label {
            font-size: 12px;
            font-weight: 600;
            color: #353535;
        }
        
        input[type=text],
        input[type=password]{
            background-color: #f8f7f7;
            
            &:focus {
                border-color: $default-border-color;
            }
        }
        
        .eltdf-login-button-holder {
            button {
                margin-top: 22px;
            }
        }
    }

    .eltdf-login-form-social-login {
        padding: 0 7%;
        
        .eltdf-facebook-login-holder,
        .eltdf-google-login-holder{
            width: 47%;
            display: inline-block;
            
            button {
                padding: 12px 24px;
            }
        }
        
        .eltdf-facebook-login-holder {
            margin-right: 6%;
            float: left;
        }
    }

    .eltdf-login-social-title {
        text-align: center;
        margin-bottom: 26px;
        
        span {
            font-size: 16px;
            font-family: $default-heading-font-m;
            font-weight: 700;
            color: $default-heading-color;
            display: inline-block;
            position: relative;
            
            &:before,
            &:after {
                content: "";
                position: absolute;
                height: 1px;
                border-bottom: 1px solid #eaeaea;
                top: 13px;
                width: 80px;
            }
            
            &:before {
                right: 100%;
                margin-right: 15px;
            }
            
            &:after {
                left: 100%;
                margin-left: 15px;
            }
        }
    }

    .eltdf-login-social-info {
        margin-top: 30px;
        font-family: $default-heading-font-m;
        font-size: 18px;
        text-align: center;
        color: $default-heading-color;
    }

    .eltdf-membership-response-holder {
        text-align: center;
        p {
            padding: 15px 0;
            font-size: 22px;
        }
    }

}