/* ==========================================================================
   Progress Bar shortcode style - begin
   ========================================================================== */

.eltdf-progress-bar {
    @include eltdfRelativeHolderLayout();
    
    .eltdf-pb-title-holder {
        position: relative;
        margin: 10px 0 7px;
        
        .eltdf-pb-title {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            z-index: 100;
        }
    }
	
    .eltdf-pb-percent {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
	    display: inline-block;
	    vertical-align: middle;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: .025em;
	    opacity: 0;
	    z-index: 10;
        
        &:after {
            content: '%';
        }
    }
    
    .eltdf-pb-content-holder {
        position: relative;
        height: 9px;
        overflow: hidden;
        background-color: #f2f2f2;
        
        .eltdf-pb-content {
            height: 9px;
            max-width: 100%;
            overflow: hidden;
            background-color: $first-main-color;
        }
    }
}
/* ==========================================================================
   Progress Bar shortcode style - end
   ========================================================================== */