@include ipad-portrait {
	
	.eltdf-membership-main-wrapper {
		display: block;
	}
	
	.eltdf-membership-dashboard-nav-holder {
		width: 100%;
		display: block;
		padding: 0;
		margin-bottom: 40px;
		border-bottom: 1px solid #e1e1e1;
		
		ul {
			padding-right: 0;
			padding-bottom: 35px;
		}
	}
	
	.eltdf-membership-dashboard-content-holder {
		width: 100%;
		padding: 0;
		display: block;
		border: none;
	}
}

@include ipad-landscape {
	
	.eltdf-login-register-content {
		
		.eltdf-social-login-holder-outer {
			display: block;
		}
		
		.eltdf-social-login-holder-inner,
		.eltdf-login-form-social-login {
			display: block;
			width: 100%;
			padding: 20px 0;
			border-right: none;
		}
	}
}