/* ==========================================================================
   Expanded Gallery shortcode style - begin
   ========================================================================== */

.eltdf-expanded-gallery {
    @include eltdfRelativeHolderLayout();

    .eltdf-eg-inner {
    	@include eltdfRelativeHolderLayout();
    	text-align: center;
    }
    
    .eltdf-eg-image {
    	opacity: 0;
    	
    	&.eltdf-eg-middle-item {
    		display: inline-block;
    		vertical-align: middle;
    		position: relative;
    		z-index: 20;
    		max-width: 70%;
    		box-shadow: 0 20px 25px 0 rgba($default-heading-color, .13);
    		@include eltdfTransform(scale(0.7));
    		@include eltdfTransition(all .3s cubic-bezier(.15,.7,.54,.99));

    		&.eltdf-eg-show {
	    		@include eltdfTransform(scale(1));
    			opacity:1;

    			&:hover {
	    			@include eltdfTransform(scale(.97));
    			}
    		}
    	}
    	
    	&:not(.eltdf-eg-middle-item) {
    		position: absolute;
    		top: 50%;
    		@include eltdfTransform(translate3d(0,-50%,0));
    		@include eltdfTransition(all .4s cubic-bezier(.15,.7,.54,.99));
    	}
    	
    	a, img {
    		display: block;
    	}
    }

	
	&.eltdf-eg-three {
		.eltdf-eg-image {
			&:first-child {
				left: 0;
				max-width: 50%;
    			@include eltdfTransform(translate3d(50%,-50%,0));
			}
			
			&:last-child {
				right: 0;
				max-width: 50%;
    			@include eltdfTransform(translate3d(-50%,-50%,0));
			}
			
			&:nth-child(n+4) {
				display: none;
			}
		}

		.eltdf-eg-image {
			&.eltdf-eg-show {
				opacity: 1;

				&:not(.eltdf-eg-middle-item)  {
    				@include eltdfTransform(translate3d(0,-50%,0));
    			}

    			&:hover {
    				&:first-child {
    					@include eltdfTransform(translate3d(-5%,-50%,0));
    				}

    				&:last-child {
    					@include eltdfTransform(translate3d(5%,-50%,0));
    				}
    			}
			}
		}
	}
	
	&.eltdf-eg-five {
		.eltdf-eg-image {
			
			&:first-child {
				left: 0;
				max-width: 30%;
    			@include eltdfTransform(translate3d(50%,-50%,0));
			}
			
			&:nth-child(2) {
				left: 7.5%;
				max-width: 50%;
				z-index: 1;
    			@include eltdfTransform(translate3d(75%,-50%,0));
			}
			
			&:nth-child(4) {
				right: 7.5%;
				max-width: 50%;
				z-index: 1;
    			@include eltdfTransform(translate3d(-50%,-50%,0));
			}
			
			&:last-child {
				right: 0;
				max-width: 30%;
    			@include eltdfTransform(translate3d(-75%,-50%,0));
			}
			
			&:nth-child(n+6) {
				display: none;
			}
		}

		.eltdf-eg-image {
			&.eltdf-eg-show {
				opacity: 1;

				&:not(.eltdf-eg-middle-item)  {
    				@include eltdfTransform(translate3d(0,-50%,0));
    			}

				&:hover {
					&:first-child,
					&:nth-child(2) {
						@include eltdfTransform(translate3d(-5%,-50%,0));
					}

					&:last-child,
					&:nth-child(4) {
						@include eltdfTransform(translate3d(5%,-50%,0));
					}
				}
			}
		}
	} 
}
/* ==========================================================================
   Expanded Gallery shortcode style - end
   ========================================================================== */