*{
	margin:0px;
	padding:0px;
}

p{
	margin:0px;
}
h1,h2,h3,h4,h5,h6{
	margin:0px;
}

/* Login Css */
.login_wrapper{
	position:relative;
}
.login_wrapper .login_banner .carousel-item{
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.login_wrapper .login_box{
	position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(0%, -50%);
    background: #fff;
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 10px;
    padding: 44px;
    min-width: 400px;
}
.login_wrapper .login_box p{
	font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
}
.login_wrapper .login_box .form-group{
	margin-bottom:30px;
}
.login_wrapper .login_box .form-control{
	border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 0px;
}
.login_wrapper .login_box .btn_link{
	color: #2B4D7A;
	font-size:12px;
	font-weight:600;
}
.login_wrapper .login_box .btn_optn{
	margin-top: 35px;
	margin-bottom:20px;
}
.login_wrapper .login_box .btn_optn .btn_design{
	background: #2B4D7A;
    border: none;
    border-radius: 50px;
    padding: 8px 15px;
}
.login_wrapper .login_box .extra_optn p{
	color:#929191;
	font-size:14px;
	font-weight:500;
	margin-bottom:2px;
}
.login_wrapper .login_box .extra_optn p span{
	color:#2B4D7A;
	font-weight:600;
}
/* End Login Css */

/* Questions Page Css */
.question_wrap{
	padding: 20px 0px;
}
.question_wrap .ques_head {
	background: #3f3f3f;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.ques_head .intro_leftbx {
    padding: 60px 0px;
    padding-left: 30px;
}
.question_wrap .ques_head h3{
    color:#fff;
    margin-bottom: 20px;
}
.question_wrap .ques_head p{
	margin-bottom:20px;
	line-height: 20px;
	color:#fff;
}
.question_wrap .ques_head a{
	background: #fff;
    padding: 15px 70px;
    border-radius: 50px;
    border: none;
    box-shadow: none;
    outline: none;
    margin-bottom: 20px;
    color: #2B4D7A;
    font-weight: 600;
}
.question_wrap .ques_head a:focus{
	background: #fff;
	color: #2B4D7A;
}
.intro_rightimg{
    border: 7px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -52px;
    right: -46px;
}
.intro_rightimg img{
    width:100%;
    border-radius: 50%;
}
.question_wrap .ques_box .ques_panel{
	/*background: #fff; */
    /* box-shadow: 0px 0px 10px #ccc;*/
    padding: 30px;
    border-radius: 10px;
	margin-top:30px;
	position:relative;
}
.question_wrap .ques_box .ques_panel .overlay{
    position: absolute;
    top: 0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    background-image: url(http://szd.bjv.mybluehost.me/elar/public/img/round.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}
.question_wrap .ques_box .ques_panel h3{
	font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.question_wrap .ques_box .ques_panel h3 span{
	color: #2B4D7A;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 15px;
}
.question_wrap .ques_box .ques_panel .ans{
	margin: 60px 0px;
	text-align: center;
}
.question_wrap .ques_box .ques_panel .ans .single p{
	font-size:52px;
}
.question_wrap .ques_box .player{
	text-align:center;
}
.question_wrap .ques_box .ques_btn{
	margin: 45px 0px;
}
.question_wrap .ques_box .ques_btn a{
	background: #2B4D7A;
    border-radius: 10px;
    padding: 10px 25px;
    color: #fff;
	text-decoration: none;
}
.audio_player {
	border: 1px solid #eae7e7;
    padding: 10px 12px;
    background: #2B4D7A;
    border-radius: 500px;
	line-height:0px;
}
.audio_player audio{
	width:100%; 
}
/* End Questions Page Css */
@media only screen and (max-width: 991px) {
  .d_none{
      display:none;
  }
  .ques_head .intro_leftbx {
    padding-right: 30px;
}
}




















