/* ==========================================================================
   Pie Chart shortcode style - begin
   ========================================================================== */

.eltdf-pie-chart-holder {
    @include eltdfRelativeHolderLayout();
	opacity: 0;
	@include eltdfTransition(opacity .2s ease-in);
	
    .eltdf-pc-percentage {
        position: relative;
        display: block;
        height: 176px;
        width: 176px;
        line-height: 176px;
	    text-align: center;
	    margin: 0 auto;
    
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .eltdf-pc-percent {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            color: $default-heading-color;
	        font-family: $default-heading-font-m;
	        font-size: 48px;
	        line-height: inherit;
	        font-weight: 700;
	        letter-spacing: .025em;
    
            &:after {
                position: relative;
	            top: -18px;
                content: '%';
	            font-size: 20px;
            }
        }
    }

    .eltdf-pc-text-holder {
        @include eltdfRelativeHolderLayout();
        text-align: center;
        margin: 30px 0 0;
	    
	    .eltdf-pc-title {
		    margin: 0;
	    }
	
	    .eltdf-pc-text {
		    margin: 14px 0 0;
	    }
    }
}
/* ==========================================================================
   Pie Chart shortcode style - end
   ========================================================================== */